<div class="h-settings-sidebar not-blank height-100">
<div class="article">
<div class="article-body">

    <div class="h-header">
        <h1>[`Settings`]</h1>
    </div>

    {* Helper to display settings checkboxes *}
    {function cb n=''}
        <input type="checkbox" name="{$n}" value="1"{if !empty($settings[$n])} checked{/if}>
    {/function}
    {function radio n='' v=''}
        <input type="radio" name="{$n}" value="{$v}"{if ifempty($settings[$n], '') == $v} checked{/if}>
    {/function}

    <style>
    span.special-filter-styled { text-transform:uppercase;color:var(--text-color-heading);font-weight:bold; }
    .add-filter-menu span.special-filter-styled { color: inherit !important; }
    .add-filter-menu li.disabled { display: none; }
    .add-filter-menu .special-filter-styled .icon { display: none; }
    .add-filter-menu:not(:has(li[data-id]:not(.disabled))) .hr { display: none; }

    .filter-edit .hide-when-edit { display: none !important; }
    .filter-no-edit .hide-when-no-edit { display: none !important; }
    </style>

    <div class="fields custom-mt-32">
        <div class="fields-group blank">

            {function style_name id=null n=null}{strip}
                {if in_array(ifset($specials_hash_by_id[$id], $id), ['@by_assignment', '@by_sources', '@by_states', '@by_tags'])}
                    <span class="special-filter-styled"><span class="icon custom-mr-4"><i class="fas fa-caret-right"></i></span>{$n|escape}</span>
                {else}
                    {$n|escape}
                {/if}
            {/strip}{/function}

            {* Helper to draw draggable items *}
            {function filter_lidrag n=null id=null}
                <li data-id="{$id}"{if !empty($specials_hash_by_id[$id])} data-special="1"{/if} class="filter-no-edit">
                    <div class="box flexbox space-8">
                        <span class="sort back cursor-move"><i class="fas fa-grip-vertical"></i></span>

                        <span class="filter-name hide-when-edit">{style_name id=$id n=$n}</span>

                        {if empty($specials_hash_by_id[$id])}
                            <input type="text" value="{$n|escape}" class="hide-when-no-edit filter-name-edit">
                            <a href="javascript:void(0)" class="edit hide-when-edit custom-ml-8" title="[`Rename`]"><i class="fas fa-edit"></i></a>
                        {/if}

                        <a href="javascript:void(0)" class="delete" title="[`delete`]"><i class="fas fa-times-circle back"></i></a>
                    </div>
                </li>
            {/function}

            <div class="field">
                <div class="name">[`Navigation pane`]</div>
                <div class="value">
                    <div id="{$uniqid}-sidebar-editor" style="max-width:800px">

                        {if $admin}
                            <div class="filter-group custom-mb-24">
                                <div class="flexbox">
                                    <h6 class="heading">
                                        [`Common filters`]
                                    </h6>
                                    <div class="dropdown custom-mt-4 custom-ml-16">
                                        <a href="javascript:void(0)" class="add-filter-link dropdown-toggle small"><i class="fas fa-plus-circle"></i> [`Add`]</a>
                                        <div class="dropdown-body right">
                                            <ul class="menu add-filter-menu">
                                                {foreach $all_specials as $id => $name}
                                                    <li data-id="{$id}"{if empty($specials[$id])} class="disabled"{/if}><a href="javascript:void(0)">
                                                        {style_name id=$id n=$name}
                                                    </a></li>
                                                {/foreach}
                                                <li class="hr"></li>
                                                <li><a href="#/requests/search/">[`New filter`]</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <ul class="menu space-4 droppable custom-mt-0 custom-mt-8-mobile" id="section-common">
                                    {foreach $common_filters as $id => $f}
                                        {filter_lidrag n=$f.name id=$id}
                                    {/foreach}
                                </ul>
                            </div>
                        {/if}

                        <div class="filter-group">
                            <div class="flexbox">
                                <h6 class="heading">
                                    [`My filters`]
                                </h6>
                                <div class="dropdown custom-mt-4 custom-ml-16">
                                    <a href="javascript:void(0)" class="dropdown-toggle add-filter-link small"><i class="fas fa-plus-circle"></i> [`Add`]</a>
                                    <div class="dropdown-body right">
                                        <ul class="menu add-filter-menu">
                                            {foreach $all_specials as $id => $name}
                                                <li data-id="{$id}"{if empty($specials[$id])} class="disabled"{/if}><a href="javascript:void(0)">
                                                    {style_name id=$id n=$name}
                                                </a></li>
                                            {/foreach}
                                            <li class="hr"></li>
                                            <li><a href="#/requests/search/">[`New filter`]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <ul class="menu space-4 droppable custom-mt-0 custom-mt-8-mobile" id="section-my" style="min-height:150px;">
                                {foreach $my_filters as $id => $f}
                                    {filter_lidrag n=$f.name id=$id}
                                {/foreach}
                            </ul>
                        </div>

                        <ul class="hidden special-stubs">
                            {foreach $specials as $id => $name}
                                {filter_lidrag n=$name id=$id}
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="bottombar h-fixed-bottombar sticky flexbox middle box rounded custom-mt-24" id="sticky-bottom-buttons">
            <button type="submit" class="button green">[`Save`]</button>
        </div>
    </div>

</div>

<script>(function() { "use strict";
    var form = $('#{$uniqid}');
    var wrapper = $('#{$uniqid}-sidebar-editor');
    var containers = wrapper.find('.droppable');
    var submit = $('#sticky-bottom-buttons').find(':submit');
    var special_stubs = wrapper.find('.special-stubs');
    var add_filter_menu = wrapper.find('.add-filter-menu');
    var changeSubmit = () => {
        if (submit.hasClass('yellow')) return;
        submit.removeClass('green').addClass('yellow');
    }

    $('.dropdown').waDropdown({ hover: false });

    // Controller for settings form
    window.setTimeout(function() {
        form.on('change', function() {
            changeSubmit();
        });
    }, 0);
    dependency(form.find('[name="count_assigned"]'), form.find('[name="count_assigned_logs"]'));
    dependency(form.find('[name="count_assigned_group"]'), form.find('[name="count_assigned_group_logs"]'));
    function dependency(parent, child) {
        parent.on('change', function() {
            if (parent.is(':checked')) {
                child.prop({ disabled: false });
            } else {
                child.prop({
                    checked: false,
                    disabled: true
                });
            }
        }).change();
    }

    // Drag-and-drop between sections
    $.wa.helpers.loadSortableJS().then(() => {
        containers.sortable({
            group: 'filters',
            handle: '.sort',
            draggable: 'li:not(.filter-edit)',
            onSort: function() {
                changeSubmit();
            }
        });
    });

    // Links to delete items
    wrapper.on('click', '.droppable li .delete', function() {
        var li = $(this).closest('li');
        var id = li.data('id');
        if (li.data('special')) {
            li.appendTo(special_stubs);
            add_filter_menu.find('[data-id="'+id+'"]').removeClass('disabled');
        } else {
            li.remove();
        }
        changeSubmit();
    });

    // Links to edit items
    wrapper.on('click', 'li a.edit', function() {
        var li = $(this).closest('li');
        li.removeClass('filter-no-edit').addClass('filter-edit');;
    });

    // Esc in filter name editors cancels the edit
    wrapper.on('keyup', '.filter-name-edit', function(e) {
        if (e.which == 27) {
            var input = $(this);
            var li = $(this).closest('li');
            li.addClass('filter-no-edit').removeClass('filter-edit');;
            input.val(li.find('.filter-name').text());
        } else {
            changeSubmit();
        }
    })

    // Click on a link in menu adds the item in appropriate list
    add_filter_menu.on('click', 'li', function() {
        var li = $(this);
        if (li.hasClass('disabled')) {
            return false;
        }

        var id = li.data('id');
        var filter_li = special_stubs.find('li[data-id="'+id+'"]').appendTo(li.closest('.filter-group').find('ul.droppable'));
        li.addClass('disabled');
        changeSubmit();
    });

    // Submit button
    submit.click(function() {
        var data = { common: [], my: [], settings: {}, filter_names: {} };
        $('#section-common li').each(function() {
            var li = $(this);
            var id = li.data('id');
            data.common.push(id);
            if (li.hasClass('filter-edit')) {
                data.filter_names[id] = li.find('input:text').val();
            }
        });
        $('#section-my li').each(function() {
            var li = $(this);
            var id = li.data('id');
            data.my.push(li.data('id'));
            if (li.hasClass('filter-edit')) {
                data.filter_names[id] = li.find('input:text').val();
            }
        });
        $.each(form.serializeArray(), function(i, v) {
            data.settings[v.name] = v.value;
        });

        const loading = $.wa.helpers.createLoadingSubmit(submit).show();
        $.post('?module=settings&action=sidebar', data, function(r) {
            loading.hide();
            $.wa.helpdesk_controller.reloadSidebar();
            $('#c-core-content').html(r);
        });

        return false;
    });

    {if waRequest::post()}
        // 'Saved' hint
        $('<span><i class="fas fa-check-circle text-green"></i> '+"[`Saved`]"+'</span>')
            .animate({ opacity: 0 }, 1000, function() {
                $(this).remove();
            }).insertAfter(submit);
    {/if}
})();</script>
</div>
</div>
