<div class="dialog" id="h-edit-workflow-dialog">
    <div class="dialog-background"></div>
    <form class="dialog-body" action="?module=settings&action=workflowSave&id={$id}" method="post">
        <header class="dialog-header">
            <h1 class="title">{if !$id}[`New workflow`]{else}[`Edit workflow`]{/if}</h1>
        </header>
        <div class="dialog-content">
            <div class="fields">
                <div class="field">
                    <div class="name">[`Workflow name`]</div>
                    <div class="value">
                        <input type="text" class="width-100" name="data[name]" value="{if !$id}[`Workflow`] {$last_id + 1}{/if}">
                    </div>
                </div>
            </div>
        </div>
        {$wa->csrf()}
        <footer class="dialog-footer">
            <button type="submit" class="button green">[`Save`]</button>
            <button type="button" class="js-close-dialog button light-gray">[`Cancel`]</button>
        </footer>
    </form>
</div>
