{literal}
    <script id="h-template-unread-settings-dialog" type="text/html">

        <div class="dialog">
            <div class="dialog-background"></div>
            {% var settings = o.settings || {}; %}
            <form class="dialog-body h-unread-settings fields custom-mt-8" method="post">
                <div class="dialog-content">
                    <p class="alert small">[`These are your personal settings. They define rules that cause some requests to be marked as “unread” and display them in a dedicated list in the left side navigation panel.`]</p>

                    <div class="field">
                        <div class="name">[`Mark as “unread”`]:</div>
                        <div class="value">
                            <ul class="menu custom-mt-8 large">
                                <li>
                                    <label>
                                        <input type="checkbox" name="settings[count_all_new]" value="1" {% if (settings.count_all_new) { %}checked="checked"{% } %}>
                                        [`All new requests`]
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="settings[count_assigned]" value="1" {% if (settings.count_assigned) { %}checked="checked"{% } %}>
                                        [`Requests assigned to me personally`]
                                    </label>
                                </li>
                                <li>
                                    <label class="small left-spaced">
                                        <input type="checkbox" name="settings[count_assigned_logs]" data-parent="count_assigned" value="1" {% if (settings.count_assigned_logs) { %}checked="checked"{% } %}>
                                        [`Any new action performed on these requests will cause them to be marked as “unread”`]
                                    </label>
                                </li>
                                <li class="custom-mt-16">
                                    <label>
                                        <input type="checkbox" name="settings[count_assigned_group]" value="1" {% if (settings.count_assigned_group) { %}checked="checked"{% } %}>
                                        [`Requests assigned to my user group`]
                                    </label>
                                </li>
                                <li>
                                    <label class="small left-spaced">
                                        <input type="checkbox" name="settings[count_assigned_group_logs]" data-parent="count_assigned_group" value="1" {% if (settings.count_assigned_group_logs) { %}checked="checked"{% } %}>
                                        [`Any new action performed on these requests will cause them to be marked as “unread”`]
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <div class="name">[`Mark a request as “read”`]:</div>
                        <div class="value">
                            <ul class="menu custom-mt-8 large">
                                <li>
                                    <label>
                                        <input type="radio" name="settings[mark_read_when_open]" value=1 {% if (settings.mark_read_when_open == 1) { %}checked="checked"{% } %}>
                                        [`When I open it`]
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="settings[mark_read_when_open]" value="" {% if (!settings.mark_read_when_open) { %}checked="checked"{% } %}>
                                        [`When I perform any action with it`]
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <div class="name"></div>
                        <div class="value">
                            <label>
                                <input type="checkbox" name="settings[display_oncount]" value="1" {% if (settings.display_oncount) { %}checked="checked"{% } %}>
                                [`Display the unread requests counter next to Helpdesk icon in the main menu`] <span class="badge indicator smaller">1</span>
                            </label>
                        </div>
                    </div>
                </div>

                <footer class="dialog-footer">
                    <div class="buttons flexbox">
                        <div class="wide">
                            <button type="submit" class="button green">[`Save`]</button>
                            <button type="button" class="js-close-dialog button light-gray">[`Close`]</button>
                        </div>
                        {% if (o.count) { %}
                            <button type="button" class="button outlined h-clear-all orange nowrap smaller"><i class="fas fa-circle"></i> <span class="desktop-and-tablet-only">[`Mark all as viewed`]</span></button>
                        {% } %}
                    </div>
                </footer>
            </form>
        </div>
    </script>
{/literal}
