{literal}
    <script id="h-template-filter-settings" type="text/html">
            {% var f = o.f; %}
            <form class="h-filter-settings">
                <div class="fields w100 width100px">
                    <input type="hidden" name="id" value="{%#f.id%}">
                    <input type="hidden" name="filters" value="{%=f.hash%}">

                    <div class="field" style="position:relative;">
                        <input type="text" class="h-name large w80" id="{%#o.uniqid%}" name="name" value="{%#f.name%}">
                        <i class="icon16 loading h-header-loading" style="display:none; position: absolute; top: 13px; margin-left: 10px;"></i>
                    </div>
                    {% if (!$.isEmptyObject(o.icons)) { %}
                        <div class="field">
                            <div class="name" style="width: 100px;">[`Icon`]</div>
                            <div class="value" style="margin-left: 120px;">
                                <ul class="menu-h h-filter-settings-icons">
                                {% for (var  i = 0; i < o.icons.length; i += 1) { %}
                                    <li data-icon="{%#o.icons[i]%}" {% if (o.icons[i] === f.icon) { %}class="selected"{% } %}>
                                        <a href="javascript:void(0)"><i class="icon16 {%#o.icons[i]%}"></i></a>
                                    </li>
                                {% } %}
                                </ul>
                            </div>
                        </div>
                    {% } %}

                    {% if (o.admin) { %}
                        <div class="field">
                            <div class="name">[`Access`]</div>
                            <div class="value">
                                <label class="radio">
                                    <input type="radio" name="shared" value="" {% if (f.shared <= 0) { %}checked="checked"{% } %}>
                                    [`Personal`]<br>
                                    <span class="hint">[`Will appear in the sidebar in MY FILTERS section and will be available for me only`]</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="shared" value="1" {% if (f.shared > 0) { %}checked="checked"{% } %}>
                                    [`Public`]<br>
                                    <span class="hint">[`Will appear in the main section in sidebar and will be available for all users`]</span>
                                </label>
                            </div>
                        </div>
                    </div>
                {% } %}

                <div class="buttons">
                    <input type="submit" class="button green" value="[`Save`]">
                    [`or`]
                    <a href="javascript:void(0)" class="cancel">[`cancel`]</a>
                    {% if (f.id) { %}
                        <a href="javascript:void(0);" class="no-underline h-delete float-right small h-filter-delete">[`Delete filter`]</a>
                    {% } %}
                </div>

                {% if (f.id) { %}
                    <div class="field" style="margin-top: 10px;">
                        <p class="small">
                            [`This list is the search result:`]
                            <a href="#/requests/search/{%#f.hash%}">{%#o.collection_header%}</a>
                            {% if (f.creator && f.creator.name) { %}
                                <br>[`Created by`] {%=f.creator.name%}, {%#f.create_datetime_str%}
                            {% } %}
                        </p>
                    </div>
                {% } %}
            </form>
    </script>
{/literal}

{literal}
    <script id="h-template-all-records-filter-settings" type="text/html">
            {% var f = o.f; %}
            <form class="h-filter-settings" style="margin-top: 10px;">
                <div class="fields w100 width100px">
                    <input type="hidden" name="id" value="{%#f.id%}">
                    <p>[`This filter displays all requests regardless of their status or assignment. If you do not usually need this full list for your work, simply hide it. Once you need it again, you can turn it on anytime using the “Add filter” option in the left-hand sidebar.`]</p>
                    <div class="buttons">
                        <a href="javascript:void(0);" class="no-underline h-delete float-right small h-filter-delete">[`Hide “All requests” filter`]</a>
                    </div>
                </div>
            </form>
    </script>
{/literal}

