
<style>
    .h-personal-settings-table tr td { padding-top: 0.5em; padding-bottom: 0.5em; }
    .h-personal-settings-table tr .sort { color: var(--light-gray); cursor: move; }
    .h-personal-settings-table tr.disabled td .text { color: var(--gray); }
</style>
<form id="helpdesk-personal-settings" method="post" action="{$wa_backend_url}helpdesk/?module=personal&action=settingsSave">

    <div class="custom-mb-24">

        <ul class="tabs bordered-bottom custom-p-0 custom-mb-24">
            <li class="selected"><a href="javascript:void(0)">[`Forms`]</a></li>
            <li><a href="javascript:void(0)">[`Settings`]</a></li>
        </ul>

        <div class="tab-content">
            <p>[`Choose new request forms that should be available for clients in their Customer portals:`]</p>

            <table class="h-personal-settings-table break-words">
                <tbody>
                    {foreach $customer_portals as $p}
                    <tr class="{if empty($domain_sources[$p.id])}disabled{/if}">
                        <td class="min-width">
                            <div class="sort icon">
                                <i class="fas fa-grip-vertical"></i>
                            </div>
                        </td>
                        <td>
                            <div class="text bold">{$p.name}</div>
                        </td>
                        <td class="min-width">
                            <span class="switch smaller js-customer-portal-switch">
                                <input type="checkbox" name="customer_portals[{$p.id}]" value="1" class="i-button customer_portal"{if !empty($domain_sources[$p.id])} checked{/if}>
                            </span>
                            <input type="hidden" name="customer_portals_source[]" value="{$p.id}">
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>

        <div class="tab-content" style="display:none;">
            <p>[`Specify what should be displayed as an action executor in Customer Portal:`]</p>
            <div class="flexbox vertical space-16">
                <label>
                    <span class="wa-radio">
                        <input type="radio" name="portal_actor_display" value="contact_name"{if ifset($settings.portal_actor_display) == 'contact_name'} checked{/if}>
                        <span></span>
                    </span>
                    [`Assigned person name`]
                </label>

                <label for="custom-radio">
                    <span class="wa-radio">
                        <input type="radio" id="custom-radio" name="portal_actor_display" value="custom"{if ifset($settings.portal_actor_display) != 'contact_name'} checked{/if}>
                        <span></span>
                    </span>
                    [`Company name:`]
                    {if in_array(ifset($settings.portal_actor_display), ['company_name', 'contact_name'])}
                        {$settings.portal_actor_display = "{$wa->accountName()}"}
                    {/if}
                    <input type="text" name="portal_actor_display_custom" value="{$settings.portal_actor_display|escape}" style="min-width:300px;display:inline-block;">
                </label>
            </div>
        </div>

        <input type="hidden" name="domain" value="{$domain}" />
    </div>

    <div class="wa-design-save-panel js-app-settings-buttons custom-mt-24">
        <div class="flexbox middle full-width">
            <div class="js-app-settings-buttons-left">
                <input type="submit" value="[`Save`]" class="button">
                <i class="fas fa-spinner fa-spin loading" style="display: none;"></i>
                <span class="save-msg-icon" style="display: none;"><i class="fas fa-check-circle text-green"></i> [`Saved`]</span>
            </div>
            <div class="js-app-settings-buttons-right"></div>
        </div>
    </div>

</form>

<script>
$(function(){
    const $personal_form = $('#helpdesk-personal-settings');

    initSwitchCustomerPortals($('.js-customer-portal-switch'));

    $personal_form.on('click', '.tabs li a', function (e) {
        e.preventDefault();
        const $tab = $(this).parent(), idx = $tab.index();
        $tab.addClass('selected').siblings().removeClass('selected');
        $tab.parent().parent().find('>.tab-content:eq(' + idx + ')').show().siblings('.tab-content').hide();
    });

    $personal_form.submit(function () {
        let f = $(this),
            $saved_msg = f.find('.save-msg-icon'),
            $loading = f.find('.loading');
        $loading.show();
        $(document).trigger('before_save_personal_app');
        $.post(f.attr('action'), f.serialize(), function (r) {
            $(document).trigger('after_save_personal_app', r);
            $loading.hide();
            $saved_msg.fadeIn(500).delay(500).fadeOut(500);
            backlightButton();
        }, 'json');
        return false;
    });

    $personal_form.find('table.h-personal-settings-table tbody').sortable({
        distance: 5,
        items: 'tr',
        handle: '.sort',
        opacity: 0.75,
        update: highlightButton
    });

    function highlightButton() {
        $personal_form.find('input[type=submit]').removeClass('green').addClass('yellow');
    }

    function backlightButton() {
        $personal_form.find('input[type=submit]').removeClass('yellow').addClass('green');
    }

    function initSwitchCustomerPortals($checkboxes) {
        $checkboxes.waSwitch({
            change: function(active, wa_switch) {
                wa_switch.$wrapper.closest('tr').toggleClass('disabled', !active);
                highlightButton();
            }
        });
    }
});
</script>
