<div class="content height-100 not-blank">
<div class="article">
<div class="article-body">
<div class="h-back">
    <a {if $wf}
            href="#/settings/workflow/{$wf->getId()}"
       {else}
            href="javascript:void(0)" onclick="$.wa.back()"
       {/if}
       class="back flexbox middle space-8">
       <span class="icon size-24"><i class="fas fa-arrow-circle-left"></i></span>
       <div class="h-paging-top-title text-gray">[`Back to workflow customizing page`]</div>
       <i class="spinner h-header-loading custom-mt-4" style="display:none;"></i>
    </a>
</div>

<div class="h-header custom-mt-16">
    <h1 class="break-words">
        <i class="{$icon_url}"></i>
        {if $source && $source.id}
            {$source->name}
        {else}
            [`New source`] ({$st->getName()})
        {/if}
    </h1>
</div>

<div class="tab-content">
    <div class="custom-mt-32">
        {if $last_error}
            <div class="alert outlined danger small custom-mb-16">
                <span class="state-error indicator"><i class="fas fa-exclamation-triangle"></i> {$last_error|escape}</span>
                <a href="?module=sources&action=log" class="nowrap custom-ml-4"><i class="fas fa-file-download"></i> [`Download error log`]</a>
            </div>
        {/if}

        <div id="hd-source-editor-form">
            {$form_html}
        </div>
    </div>

    <div id="sticky-bottom-buttons" class="{if !$wa->get('ignore_sticky')}bottombar h-fixed-bottombar sticky{/if} flexbox middle custom-px-12 custom-mt-24">
        <button id="hd-source-editor-save" type="submit" class="button green">[`Save`]</button>
        {if $source && $source.id && !in_array($source.type, ['backend'])}
        <button type="button" class="hd-source-editor-delete light-gray small custom-ml-auto"><i class="fas fa-trash-alt text-red"></i> <span class="desktop-and-tablet-only">[`Delete this source`]</span></button>
        {/if}
    </div>
</div>

<script>(function() { "use strict";

    var form_wrapper = $("#hd-source-editor-form");
    var button = $('#hd-source-editor-save');

    {if $source && $source.id}
        // Delete
        form_wrapper.closest('.tab-content').on('click', '.hd-source-editor-delete', function() {
            $.waDialog.confirm({
                title: "[`Are you sure?`]",
                success_button_title: $_('Delete'),
                success_button_class: 'danger',
                cancel_button_title: $_('Cancel'),
                cancel_button_class: 'light-gray',
                onSuccess: function(d) {
                    const submit_loading = $.wa.helpers.createLoadingSubmit(d.$body.find('.js-success-action')).show();
                    form_wrapper.find('.loading').show();
                    $.post('?module=sources&action=delete', { id:{$source.id} }, function() {
                        submit_loading.hide();
                        $.wa.helpdesk_controller.reloadSidebar();
                        {if $wf}
                            window.location.hash = "#/settings/workflow/{$wf->getId()}";
                        {else}
                            $.wa.back();
                        {/if}
                    });
                }
            });
            return false;
        });
    {/if}

    // Save
    button.click(function() {
        if (typeof checkForm == 'function' && !checkForm()) {
            return false;
        }
        const loading = $.wa.helpers.createLoadingSubmit($(this)).show();
        form_wrapper.find('input, select, textarea').trigger('beforesubmit');
        $.post('?module=sources&action=editor', form_wrapper.find("form").serialize(), function(r) {
            loading.hide();
            var container = form_wrapper.closest('.content');
            container.html(r);
            $.wa.helpdesk_controller.reloadSidebar();
            {if !$source.id}
                var source_id = container.find('input[name=id]').val();
                if (source_id) {
                    $.wa.helpdesk_controller.setHash('#/sources/edit/' + source_id + '/{$wf->getId()}');
                }
            {/if}
        });
        return false;
    });

    if (form_wrapper.find('.state-error,.state-error-hint').length) {
        form_wrapper.addClass('modified');
        button.removeClass('green').addClass('yellow');
    } else {
        // Change button color when user modifies something on the page.
        // Delayed because form fires events during initialization and we don't care about those.
        setTimeout(function() {
            form_wrapper.on('change', 'input,textarea,select', function() {
                if (button.hasClass('green')) {
                    form_wrapper.addClass('modified');
                    button.removeClass('green').addClass('yellow');
                }
            });
            form_wrapper.on('keyup', 'input:text,textarea', function() {
                if (button.hasClass('green')) {
                    form_wrapper.addClass('modified');
                    button.removeClass('green').addClass('yellow');
                }
            });
        }, 0);

        {if waRequest::post()}
            // 'Saved' hint
            $('<span><i class="fas fa-check-circle text-green"></i> '+"[`Saved`]"+'</span>').animate({ opacity: 0 }, 1000, function() {
                $(this).remove();
            }).insertAfter(button);
        {/if}
    }

    // Confirmation before user leaves the page
    $.wa.helpdesk_controller.confirmLeave(
        function() {
            return $("#hd-source-editor-form").hasClass('modified');
        },
        "[`Unsaved changes will be lost if you leave this page now.`]",
        "[`Are you sure?`]",
        function() {
            return !$("#hd-source-editor-form").length;
        }
    );

    $.wa.helpdesk_controller.updateWorkflowErrors({json_encode($workflows_errors)}, {json_encode($sources_errors)});
})();</script>
</div>
</div>
</div>
