<style>
.ui-autocomplete .ui-menu-item { font-size: 0.9em; }
</style>
<div class="hidden block">
    <div class="hidden paging float-right nowrap">
        <a class="hidden prev"><i class="icon10 larr"></i> [`prev`]</a>
        <span class="custom hint">
            <span class="index-current"></span>
            [`of`]
            <span class="index-total"></span>
        </span>
        <a class="hidden next">[`next`] <i class="icon10 rarr"></i></a>
    </div>
    <a href="javascript:void(0)" class="hidden no-underline hd-last-view"><i class="icon10 larr"></i><span></span></a>
</div>

{function field_item field_id=null default_field_params=[] class=''}
    <div class="{$class}">
        {if $field_id === 'status'}
            <p>
                <span class="gray">
                    [`Status`]:
                    <span class="state-marker" style="{$request.status_css}">
                        {$request.status}
                    </span>
                </span>
            </p>
        {else if $field_id === 'assigned'}
            <p>
                <span class="grey">[`Assigned:`]</span>
                <span class="bold">
                    {if $request.assigned_contact_id > 0}
                         {$request.assigned_name|escape}
                    {elseif $request.assigned_contact_id < 0}
                        {$request.assigned_name|escape} <span style="color:#999">([`group`])</span>
                    {else}
                        <span style="color:#999"></span>
                    {/if}
                </span>
            </p>
        {else if $field_id === 'tags'}
            <input type="text" id="h-request-tags-input" value="{implode(',', $tags)}">
        {else if helpdeskRequestPageConstructor::getType($field_id) === helpdeskRequestPageConstructor::TYPE_CUSTOM}
            {$fld_id = helpdeskRequestPageConstructor::cutOffPrefix($field_id)}
            {if isset($fields[$fld_id])}
                <p>
                    <span class="gray">{$fields[$fld_id].name|escape}:</span>
                    <span class="bold">{$fields[$fld_id].value}</span>
                </p>
            {else}
                <p>
                    <span class="gray">{$default_field_params.name|default:''|escape}:</span>
                </p>
            {/if}
        {/if}
    </div>
{/function}

<div class="support-content">
    <div class="s-request" id="ticket">



    <div id="h-request-top-block">

        <div class="shadowed" id="h-contact-info"></div>

        {*
         * Request header
         *}
        <div class="block double-padded" style="padding-top: 10px;">
            <div class="request-status" id="h-request-status-block-wrapper">
                <div class="request-basic-info-block">
                    <div id="h-request-status-block">
                        <span class="request-id">{sprintf_wp('#<strong>%s</strong>', $request.id)}</span>
                        <span>
                            <i class="icon16 binocular h-has-follow" style="{if !$has_follow}display:none;{else}display:inline-block{/if};"></i>
                        </span>
                        <ul class="menu-h dropdown smart-dropdown float-right" id="h-request-operations" style="display: inline-block; margin-top: -4px;">
                            <li>
                                <a href="javascript:void(0);" class="inline-link"><i class="icon16 ui-menu"></i><i class="icon10 darr-tiny"></i></a>
                                <ul class="menu-v" style="width: 230px; margin-left: -186px;">
                                    <li><a href="javascript:void(0)" class="mark-as-read"><i class="icon16 checkbox"></i>[`Mark as read`]</a></li>
                                    <li><a href="javascript:void(0)" class="mark-as-unread"><i class="icon16 mark-unread"></i>[`Mark as unread`]</a></li>
                                    <li><a href="javascript:void(0)" class="set-follow"><i class="icon16 binocular-small"></i>[`Follow`]</a></li>
                                    <li><a href="javascript:void(0)" class="unset-follow"><i class="icon16 binocular-small"></i>[`Follow`] <span class="small">([`unmark`])</span></a></li>

                                    {if $is_admin}
                                        <li><a href="javascript:void(0)" class="change-status"><i class="icon16 export"></i>[`Change status`]</a></li>
                                        <li><a href="javascript:void(0)" class="change-assignment"><i class="icon16 user"></i>[`Change assignment`]</a></li>
                                        <li class="hr"></li>
                                        <li><a href="javascript:void(0)" class="delete-request"><i class="icon16 delete"></i>[`Delete`]</a></li>
                                    {/if}

                                </ul>
                            </li>
                        </ul>
                        <div class="clear-both"></div>
                    </div>

                    {foreach $right_fields as $field_id => $field_opt}
                        {if $field_opt@index < 2}
                            {field_item field_id=$field_id default_field_params=$field_opt class="h-request-right-field"}
                        {else}
                            {field_item field_id=$field_id default_field_params=$field_opt class="h-request-right-field"}
                        {/if}
                    {/foreach}

                </div>
            </div>

            <div class="request-header">

                {capture name=source_label}
                    <span class="age-label">
                        <span class="hint">{$request.age} [`ago`]</span>
                    </span>
                    <span class="source-label">
                        <span class="hint">[`via`]</span>
                        <span class="source-name">
                            {if $source_class}<i class="icon16 source-{$source_class}"></i>{/if}{$source_name|escape}
                        </span>
                    </span>
                {/capture}
                {capture name="header_h1"}
                    {if $is_admin || count($allowed_actions) > 0}
                        <form data-edit-request-subject class="subject-edit" style="">
                            <div class="list-edit-name" data="editable">
                                <h1 data="edit" style="display:inline;" class="{if $is_unread} highlighted{/if}"  title="[`Click to edit subject`]">
                                    <span class="hidden">{sprintf_wp('#%s', $request.id)} </span>
                                    {$request.summary}
                                </h1>
                            </div>
                            <div class="list-edit-buttons" data="inputs">
                                <input type="text" name="theme" value="{$request.summary}" autocomplete="off" class="input-h1">
                                <input type="hidden" value="{$request.id}" name="id"/>
                                <br/>
                                <input type="submit" value="[`Save`]" data="save"/>
                                [`or`] <a href="javascript:void(0)" data="cancel">[`cancel`]</a>
                            </div>
                        </form>
                    {else}
                        <h1 style="display:inline;">
                            {$request.summary}
                        </h1>
                    {/if}
                {/capture}

                {if $client}
                    {capture name=contact_link}
                        <a href="{$wa_backend_url}contacts/#/contact/{$client.id}/" data-contact-id="{$client->getId()}">{strip}
                            {if $client->getName()}
                                {$client->getName()|escape}
                            {else}
                                {"[`<no name>`]"|escape}
                            {/if}
                        {/strip}</a>
                    {/capture}

                    {$smarty.capture.header_h1}
                    <div class="profile image50px">
                        <div class="image">
                            <a href="{$wa_backend_url}contacts/#/contact/{$client.id}/" data-contact-id="{$client.id}">
                                {if $client.photo}
                                    <img class="userpic" src="{$client->getPhoto(50)}">
                                {else}
                                    <img class="userpic" src="{helpdeskHelper::getGravatar($client->get('email', 'default'))}">
                                {/if}
                            </a>
                        </div>
                        <div class="details">
                            <h3>
                                {$smarty.capture.contact_link}
                                {$smarty.capture.source_label}
                            </h3>
                            {$client_contact_tabs_html}
                        </div>
                    </div>

                {else}
                    {$smarty.capture.header_h1}
                    <h3>
                        <a href="javascript:void(0)" class="inline-link" onclick="$(this).parent().next().toggle(200);"><b><i style="font-weight:bold;">{strip}
                            {ifempty($name_from_data, _w('Anonymous'))|escape}
                        {/strip}</i></b></a>
                        {$smarty.capture.source_label}
                    </h3>
                    <p class="hidden">[`no link to contact`]</p>
                {/if}
            </div>

            {*
             * Buttons for available actions
             *}
            <div class="block not-padded top-padded"{if $is_admin} style="min-height:20px;"{/if}>
                <div class="h-request-left-fields">
                    {foreach $left_fields as $field_id => $field_opt}
                        {field_item field_id=$field_id default_field_params=$field_opt}
                    {/foreach}
                </div>
                <div id="action-form-wrapper" style="display:none; padding-top:80px;"></div>
                <div class="buttons ticket-buttons">
                    <ul class="menu-h">
                        {foreach $buttons as $html}
                            <li>{$html}</li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>

    </div>

    {*
     * Request log
     *}
    <ul class="s-comments" id="request-and-log">
        {foreach $log as $action}
            <li class="{if $action.visible_to_client}shadowed visible-to-client{else}not-visible-to-client{/if} h-log-item" data-id="{$action.id}">
                <div class="profile {if $action.visible_to_client}image50px{else}image32px{/if}">
                    <div class="image">
                        {if $action.visible_to_client}
                            {if $action.upic}
                                <img class="float-left userpic" width="50" src="{$action.upic}" alt="">
                            {else}
                                <img class="float-left userpic" src="{$wa_url}wa-content/img/userpic50.jpg">
                            {/if}
                        {else}
                            {if $action.upic}
                                <img class="float-left userpic" width="32" src="{$action.upic}" alt="">
                            {else}
                                <img class="float-left userpic" src="{$wa_url}wa-content/img/userpic32.jpg">
                            {/if}
                        {/if}
                    </div>
                    <div class="details">
                        <span class="float-right gray align-right">
                            {$action.datetime|wa_datetime:"humandatetime"}<br>
                            <span class="hint float-right">+ {$action.delay}</span>
                            {if $action.original_email}
                                <br>
                                <a href="{$action.original_email}" class="same-tab hint">
                                    [`Download original email`]
                                </a>
                            {/if}
                        </span>
                        <div class="s-username">
                            <b>{$action.contact_name|escape}</b> {$action.performs_action_string}

                            {if $action.before_state_id != $action.after_state_id}
                                <span style="margin-left:30px;font-size:90%;">
                                    (<span style="{$action.before_state_css|escape}">{$action.before_state_name}</span>
                                    →
                                    <span style="{$action.after_state_css|escape}">{$action.after_state_name|escape}</span>)
                                </span>
                            {/if}

                        </div>

                        <div class="text">
                            {$action.text}
                        </div>

                        {if $action.text &&
                                ($action.attachment ||
                                    !empty($action.fields) ||
                                    $action.assigned_contact_id !== null ||
                                    $action.recipients ||
                                    !empty($action.params.old_summary) ||
                                    !empty($action.params.new_summary) ||
                                    !empty($action.old_workflow) ||
                                    !empty($action.new_workflow))}
                            <br>
                        {/if}

                        {if !empty($action.params.old_summary)}
                            <span class="hint">[`Old subject`]:</span>
                            <span class="small">{$action.params.old_summary|escape}</span>
                            <br>
                        {/if}
                        {if !empty($action.params.new_summary)}
                            <span class="hint">[`New subject`]:</span>
                            <span class="small">{$action.params.new_summary|escape}</span>
                            <br>
                        {/if}

                        {if !empty($action.old_workflow)}
                            <span class="hint">[`Old workflow`]:</span>
                            <span class="small">{$action.old_workflow}</span>
                            <br>
                        {/if}
                        {if !empty($action.new_workflow)}
                            <span class="hint">[`New workflow`]:</span>
                            <span class="small">{$action.new_workflow}</span>
                            <br>
                        {/if}

                        {if $action.attachment}
                            <div class="attachment">
                                <i class="icon16 download"></i>
                                {foreach $action.attachment as $a}
                                    <a href="{$a.link}" class="same-tab">{$a.orig_name|escape}</a>
                                    <span class="hint">{$a.size|wa_format_file_size}</span>{if !$a@last},{/if}
                                {/foreach}
                            </div>
                        {/if}

                        {* Custom fields *}
                        {if !empty($action.fields)}
                            {foreach $action.fields as $field_id => $field}
                                <span class="hint">{$field.name|escape}:</span> <span class="small">{$field.value}</span><br>
                            {/foreach}
                        {/if}

                        {if $action.assigned_contact_id !== null}
                            <span class="hint">[`Assigned:`]</span>
                            <span class="small">
                                {if $action.assigned_contact_id > 0}
                                     {$action.assigned_name|escape}
                                {elseif $action.assigned_contact_id < 0}
                                    {$action.assigned_name|escape} ([`group`])
                                {else}{/if}
                            </span>
                            <br>
                        {/if}

                        {if $action.recipients}
                            <span class="hint">[`Message sent:`]</span>
                            <span class="small">
                                {foreach $action.recipients as $r}
                                    <span title="{$r.email|escape}">{$r.name|escape}</span>{if !$r@last},{/if}
                                {/foreach}
                            </span>
                            <br>
                        {/if}

                    </div>
                </div>
                <div class="clear"></div>
            </li>
        {/foreach}

        {*
         * Request info
         *}
        <li class="shadowed h-request-item" data-id="{$request.id}">
            <div class="details">
                <span class="float-right gray align-right">
                    {$request.created|wa_datetime:"humandatetime"}
                    {if $request.original_email}
                        <br>
                        <a href="{$request.original_email}" class="hint">
                            [`Download original email`]
                        </a>
                    {/if}
                </span>

                <div class="profile image50px">
                    <div class="image">
                        {if $creator}
                            <img class="userpic" src="{$creator['photo_url_50']}">
                        {else}
                            <img class="userpic" src="{helpdeskHelper::getGravatar('', 50)}">
                        {/if}
                    </div>

                    <div class="details">
                        <div class="s-username">
                            {if $creator}
                                <b>{$creator->getName()|escape}</b>
                            {elseif !empty($name_from_data)}
                                <b>{$name_from_data|escape}</b>
                            {/if}
                            [`creates request`]
                        </div>


                        {if $request.text}
                            <div class="text">{$request.text}</div>
                        {/if}

                        {if $request.text && ($fields || $request.attachments)}
                            <br>
                        {/if}


                        {if $original_fields}
                            {foreach $original_fields as $field}
                                <span class="hint">{$field.name|escape}:</span>
                                <span class="small">{$field.value}</span>
                                <br>
                            {/foreach}
                        {/if}


                        {if $request.attachments}
                            <div class="attachment">
                                <i class="icon16 download"></i>
                                {foreach $request.attachments as $a}
                                    <a href="{$a.link}" class="same-tab">{$a.orig_name|escape}</a>
                                    <span class="hint">{$a.size|wa_format_file_size}</span>{if !$a@last},{/if}
                                {/foreach}
                            </div>
                        {/if}

                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </li>
    </ul>
    </div>
    <div class="clear-left"></div>
</div>

<div id="request-changed-alert" style="display:none;position:fixed;width:30%;bottom:20px;right:20px;background-color:#FEF49C;border: 2px solid #DDD;padding:20px">
    <h1>[`Request has been changed`]</h1>
    <p class="reload-the-page" style="margin:0;padding:0">[`Please <a>reload the page</a>.`]</p>
</div>

<div id="hidden-wrapper" class="hidden"></div>

{* dialog section *}

{if $all_tags}
    <div class="dialog width650px height350px" id="h-all-tags-dialog" style="display:none;">
        <form>
            <div class="dialog-background"></div>
            <div class="dialog-window">
                <div class="dialog-content">
                    <div class="dialog-content-indent">
                        <h1>[`All tags`]</h1>
                        <div class="hint hidden" style="display: block;">[`Select tags for this request`]</div>
                        <ul class="menu-v">
                            {foreach $all_tags as $tag}
                                <li><label>
                                    <input type="checkbox" name="tag" value="{$tag.name}" {if $tag.checked|default:false}checked="checked"{/if}> {$tag.name|escape}
                                </label></li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
                <div class="dialog-buttons">
                    <div class="dialog-buttons-gradient">
                        {$wa->csrf()}
                        <input class="button green" type="submit" value="[`Save`]">
                        <i class="icon16 loading" style="display:none;"></i> [`or`] <a class="cancel" href="javascript:void(0);">[`cancel`]</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{/if}

<script>

(function() { "use strict";
    
    // Helper to tell if current page has been changed.
    // $.wa.helpdesk_controller.random is changed every page load by .loadHTML() and .loadGrid()
    var wa_controller_page_random = $.wa.helpdesk_controller.random;
    function pageChanged() {
        return wa_controller_page_random != $.wa.helpdesk_controller.random;
    }

    if ($.wa.helpdesk_controller.lastView) {
        var hblock = $('.hd-last-view').closest('.block').show();
        hblock.data('left', hblock.offset().left);
    }

    $('#h-contact-info').data('left', $('#h-request-top-block').offset().left);

    var makeFixableRequestHeader = function() {

        if ($.wa.helpdesk_controller.lastView) {
            var hblock = $('.hd-last-view').closest('.block');
            if (!hblock.length) {
                return;
            }
            hblock.fixedBlock()
                .bind('fixed', function() {
                    var self = $(this);
                    var width = self.width();
                    self.css({
                        top: 0,
                        background: 'white',
                        zIndex: 101,
                        height: 28,
                        left: hblock.data('left') - 10,
                        width: width,
                        padding: '10px 20px'
                    });
                    var block = $('#h-request-top-block .request-header');
                    fixRequestHeader(24, 50);
                    var wrapper = block.parent();
                    wrapper.css({
                        paddingLeft: 30,
                        width: wrapper.width() + 5
                    });

                    $(window).unbind('.fix_request_header').bind('resize.fix_request_header', function() {
                        var width = $('#h-request-top-block').width();
                        wrapper.css({
                            width: width - 11
                        });
                        self.css({
                            width: width - 20
                        })
                    });

                })
                .bind('unfixed', function() {
                    unfixRequestHeader();
                    var self = $(this);
                    self.css({
                        top: '',
                        background: '',
                        zIndex: '',
                        width: '',
                        left: '',
                        padding: ''
                    });
                });
        } else {

            var block = $('#h-request-top-block .request-header');
            if (!block.length) {
                return;
            }
            $('#h-request-top-block .request-header').fixedBlock( { css: { top: 0 } } )
                    .bind('fixed', function () {
                        fixRequestHeader();
                    })
                    .bind('unfixed', function () {
                        unfixRequestHeader();
                    });
        }
    };

    var unmakeFixableRequestHeader = function() {
        if ($.wa.helpdesk_controller.lastView) {
            var hblock = $('.hd-last-view').closest('.block');
            hblock.length && hblock.fixedBlock('destroy');
        } else {
            var block = $('#h-request-top-block .request-header');
            block && block.fixedBlock('destroy');
        }
    };

    var makeFixableContactInfo = function() {
        $('#h-contact-info').fixedBlock({
                css: {
                    top: 0,
                    margin: 0,
                    left: $('#h-contact-info').data('left') - 20,
                    right: 0
                }
            })
            .bind('unfixed', function() {
                $(this).css({
                    margin: ''
                });
            });
    };

    var unmakeFixableContactInfo = function() {
        $('#h-contact-info').fixedBlock('destroy');
    };

    var fixRequestHeader = function(top_offset_wrapper, top_offset_block) {

        // header for fixing
        var header = $('#h-request-top-block .request-header');
        if (header.parent().hasClass('h-tmp-wrap')) {
            return;
        }

        // some offsets
        top_offset_wrapper = top_offset_wrapper || 0;
        top_offset_block = top_offset_block || 0;

        // width, cause we will stretch header to width of top-block
        var width = $('#h-request-top-block').width();
        // height of header
        var height = header.height();

        // wrapper of header, we will work with it not with header, for easy reset (unfix) and
        // for compose with status block (see below)
        header.wrap('<div class="h-tmp-wrap"></div>');

        var wrapper = header.parent();
        var offset = wrapper.offset();
        wrapper.css({
            position: 'fixed',
            top: top_offset_wrapper,
            width: width - 16,
            left: offset.left - 46,
            paddingLeft: 35,
            marginTop: top_offset_wrapper,
            height: height,
            background: '#f3f3ee',
            zIndex: 101
        });
        wrapper.addClass('shadowed');
        header.css({
            position: 'fixed',
            top: top_offset_block
        });

        // status block on the left, its content inserted to wrapper
        var status_block = $('#h-request-status-block-wrapper');
        var clone_status_block = status_block.clone();
        clone_status_block.attr('id', 'h-request-status-block-wrapper-clone');
        status_block.after(clone_status_block);
        status_block.css({
            position: 'fixed',
            top: top_offset_block,
            right: 41,
            width: '200px',
            maxWidth: '400px',
            background: '#f3f3ee',
            height: height
        }).find('.h-request-right-field').hide();
        wrapper.append(status_block);

        $(window).bind('resize.fix_request_header', function() {
            wrapper.css({
                width: $('#h-request-top-block').width() - 16
            });
        });
    };

    var unfixRequestHeader = function() {
        // that header
        var header = $('#h-request-top-block .request-header');
        if (header.parent().hasClass('h-tmp-wrap')) {
            $('#h-request-status-block-wrapper-clone').replaceWith(
                $('#h-request-status-block-wrapper').css({
                    position: '',
                    top: '',
                    right: '',
                    width: '',
                    maxWidth: '',
                    background: '',
                    height: ''
                }).find('.h-request-right-field').show().end()
            );
            header.unwrap();
            header.css({
                position: '',
                top: '',
                width: ''
            });
        }
        $(window).unbind('.fix_request_header');
    };

    setTimeout(function () {
        makeFixableRequestHeader();
    }, 500);

    // 'Back to', 'prev' and 'next' links
    (function() {
        if ($.wa.helpdesk_controller.lastView) {

            var link = $('.hd-last-view');
            var hblock = link.closest('.block');

            if ($.wa.helpdesk_controller.lastView.title) {
                link.removeClass('hidden').attr('href', $.wa.helpdesk_controller.lastView.hash || '#/');
                link.children('span').text($.wa.helpdesk_controller.lastView.title);
                hblock.show();
            }

            if ($.wa.helpdesk_controller.lastView.ids) {
                var ids = $.wa.helpdesk_controller.lastView.ids;
                var i = $.inArray('{$request.id}', ids);
                if (i >= 0) {
                    var paging = hblock.find('.paging').show();
                    ids[i-1] && paging.find('.prev').show().attr('href', '#/request/'+ids[i-1]);
                    ids[i+1] && paging.find('.next').show().attr('href', '#/request/'+ids[i+1]);
                    paging.find('.index-total').text($.wa.helpdesk_controller.lastView.count);
                    paging.find('.index-current').text($.wa.helpdesk_controller.lastView.offset + i + 1);
                    hblock.show();

                    var h;
                    $(document).on('keyup', h = function(e) {
                        var t = $(e.target);
                        if (!t.is('body') && !t.is(document)) {
                            return;
                        }
                        if (pageChanged()) {
                            $(document).off('keyup', h);
                            return;
                        }

                        if ((e.ctrlKey || e.metaKey) && !(e.altKey || e.shiftKey)) {
                            var a = null;
                            if (e.which == 37) { // left arrow
                                a = paging.find('.prev');
                            } else if (e.which == 39) { // right arrow
                                a = paging.find('.next');
                            }
                            if (a && a.is(':visible')) {
                                window.location.hash = a.attr('href');
                            }
                        }
                    });
                }
            }
        }
    })();

    // Ignore backspace on this page if action form is open.
    // Going back to previous page by accidently clicking backspace is a common misclick
    // that otherwise causes loss of text in the action form.
    /*(function() {
        var h;
        $(document).on('keydown', h = function(e) {
            if (pageChanged()) {
                $(document).off('keyup', h);
                return;
            }
            if (e.keyCode == 8 && $('#action-form-wrapper').is(':visible')) {
                return false;
            }
        });
    })();*/

    // action buttons click handler
    $('.ticket-buttons input').click(function() {
        var self = $(this);
        self.after('<i class="icon16 loading"></i>');
        $.get('?module=backend&action=actionForm', { wfa: self.attr('name'), id: {$request.id}}, function(response) {
            self.parent().find('.loading').remove();
            $('.ticket-buttons').hide();
            $('#action-form-wrapper').empty().html(response).show();
            //$.scrollTo('#action-form-wrapper');
        });
    });

    // show/hide blockquotes
    var toggle_quote = $('<div class="show-quote">- [`Display original message`] -</div>').click(function () {
        if ($(this).hasClass('open')) {
            $(this).next().hide();
            $(this).html('- [`Display original message`] -').removeClass('open');
        } else {
            $(this).next().show();
            $(this).html('- [`Hide original message`] -').addClass('open');
        }
    });
    $("#ticket .text blockquote").each(function () {
        $(this).hide();
        toggle_quote.clone(true).insertBefore(this);
    });

    // Disable action buttons for several seconds when action is performed
    // to prevent accidental double submit.
    $('.button', $('#action-form-wrapper').parent()[0]).live('click', function() {
        var button = $(this);
        setTimeout(function() {
            if (button.is(':disabled')) {
                return;
            }
            button.attr('disabled', true);
            setTimeout(function() {
                button.attr('disabled', false);
            }, 3000);
        }, 1);
    });

    // Once a minute check for modifications of this request.
    var checkForModification = function() {
        if (pageChanged()) {
            return;
        }

        $.post('?module=requests&action=list', {
            'filters': 'id:{$request.id}&mark:{$request.id}`:{$request.last_log_id}',
            'no_removed': true,
            'background_process': 1
        }, function(r) {
            // Trigger list result event for plugins
            $.wa.helpdesk_controller.listResultEvent(r.data);

            if (pageChanged()) {
                return;
            }

            if (r.data.count > 0) {
                // Show warning indicating that request is changed
                $('#request-changed-alert').show().
                    css('bottom', -50-$('#request-changed-alert').height()).
                    animate({ 'bottom': 20 }, 1000).
                    find('.reload-the-page a').attr('href', 'javascript:void(0)').click(function() { $.wa.helpdesk_controller.redispatch(); return false; });

                // Disable request buttons
                $('.ticket-buttons input.button').attr('disabled', true);

                return;
            }

            // Check again after a minute
            setTimeout(checkForModification, 60000);
        }, 'json');
    };
    setTimeout(checkForModification, 60000);

    // Unread count in sidebar
    $.wa.helpdesk_controller.updateUnreadCount({$unread_count});


    // Non-workflow actions with this request
    (function() {

        var ul = $('#h-request-operations');
        var request_name = $('#ticket .request-header h1');
        var follow_icon = $('.h-has-follow');
        var follow_not_show_message = {if $wa->user()->getSettings('helpdesk', 'follow_not_show_message')}true{else}false{/if};

        // Mark as read/unread
        ul.find('.mark-as-read, .mark-as-unread').click(function() {
            var is_unread = $(this).hasClass('mark-as-unread');
            $.post('?module=requests&action=unread', {
                ids: {$request.id},
                status: is_unread ? '1' : ''
            },
            function(r) {
                $.wa.helpdesk_controller.updateUnreadCount(r.data.unread_count || 0);
                request_name.toggleClass('highlighted', !!is_unread);
                updateVisibility();
            }, 'json');
        });

        // Follow/unfollow
        ul.find('.set-follow, .unset-follow').click(function() {
            var post = function() {
                var status = follow_icon.is(':visible') ? 0 : 1;
                $.post('?module=requests&action=follow', {
                    ids: {$request.id},
                    status: status,
                    follow_not_show_message: follow_not_show_message
                }, function(r) {
                    $.wa.helpdesk_controller.updateFollowCount(r.data.follow_count || 0);
                    if (status) {
                        follow_icon.show();
                    } else {
                        follow_icon.hide();
                    }
                    updateVisibility();
                }, 'json');
            };
            if ($(this).hasClass('set-follow') && !follow_not_show_message) {
                var d = $('<div><h1>[`Follow mark`] <i class="icon16 binocular" style="margin-top:8px;"></i></h1><p>[`After you set "Follow" mark, next time someone performs an action with this request it will appear as "Unread" for you and you will receive email notification about this action. So you will be able to follow all further activity related to this request.`]</p>' +
                        '<p><label><input type="checkbox"> ' + "[`Don't show this message anymore`]" + '</label></p>' +
            '</div>').waDialog({
                    width: 500,
                    height: 250,
                    'min-height': 230,
                    buttons: $('<div><input type="submit" class="button green" value="[`Set mark`]"> [`or`] <a href="javascript:void(0);" class="cancel">[`cancel`]</a></div>'),
                    onSubmit: function() {
                        var form = $(this);
                        follow_not_show_message = form.find('input[type=checkbox]').attr('checked');
                        post();
                        d.trigger('close');
                        return false;
                    }
                });
            } else {
                post();
            }
        });

        updateVisibility();

        // Helper to show/hide elements of non-workflow actions menu depending on request
        function updateVisibility() {
            if (request_name.hasClass('highlighted')) {
                ul.find('.mark-as-read').parent().show();
                ul.find('.mark-as-unread').parent().hide();
            } else {
                ul.find('.mark-as-read').parent().hide();
                ul.find('.mark-as-unread').parent().show();
            }
            if (follow_icon.is(':visible')) {
                ul.find('.unset-follow').parent().show();
                ul.find('.set-follow').parent().hide();
            } else {
                ul.find('.unset-follow').parent().hide();
                ul.find('.set-follow').parent().show();
            }
        }

        {if $is_admin}
            // Deletion
            ul.find('.delete-request').click(function() {
                if (!confirm("[`Are you sure to remove this request from database completely?`]")) {
                    return;
                }

                $.wa.helpdesk_controller.showLoading();
                $.post('?module=requests&action=delete', { ids: "{$request.id}" }, function(r) {
                    window.location.hash = '';
                }, 'json');
            });

            // Non-workflow assignment
            ul.on('click', '.change-status,.change-assignment', function() {
                var a = $(this);
                var action_type = false;
                if (a.hasClass('change-status')) {
                    action_type = 'state';
                } else if (a.hasClass('change-assignment')) {
                    action_type = 'assignment';
                }

                if (action_type) {
                    $.wa.helpdesk_controller.showLoading();
                    var hidden_wrapper = $('#hidden-wrapper').empty();
                    $.get('?action=bulk', { action_type: action_type, ids: "{$request.id}" }, function(r) {
                        $.wa.helpdesk_controller.hideLoading();
                        hidden_wrapper.html(r);
                    });
                }
                return false;
            });
        {/if}

    })();


    // Clickable links in non-html messages
    try {
        $.wa.helpdesk_controller.makeLinksClickable($('#request-and-log')[0]);
    } catch (e) { }
    $('#request-and-log .details .text a:not(.same-tab)').attr('target', '_blank');

    {if $can_load_contact_info}
        // Contact info block controller
        (function() {
            var $contact_container = $('#h-contact-info'),
                $image = $('.request-header .image'),
                $loading = $('<i class="icon16 loading" style="margin: 0 5px;"></i>'),
                $details_contact_name = $('.request-header .profile .details a[data-contact-id]'),
                $contact_tabs = $('.request-header .profile .contact-tabs'),
                $details = $('.request-header .profile .details');

            // Hide contact info block when user clicks on a 'close' link
            $contact_container.on('click', '.killer', function() {
                hideContactInfo();
            });

            // Show/hide contact info block when user clicks on contact name or tab
            $('.request-header').on('click', '[data-contact-id]', function (e) {
                e.preventDefault();

                var $this = $(this),
                    tab_id = $this.data('tab-id'),
                    contact_id = $this.data('contact-id');

                if ($contact_container.is(':not(:hidden)')) {
                    hideContactInfo(contact_id);
                    return;
                }

                $this.after($loading);
                $.get('{$wa_backend_url}contacts/?module=contacts&action=info', {
                        id: contact_id,
                        no_backlink: 1,
                        no_switchtab: 1,
                        standalone: 1,
                        no_update_title: 1,
                        no_delete: 1,
                        tab: tab_id || ''
                    },
                    function(html) {
                        $contact_container.html(
                                '<a class="killer" href="javascript:void(0);">' +
                                '<i class="icon16 close"></i>' +
                                '</a>'
                        );
                        $contact_container.off('click', '.killer').on('click', '.killer', function() {
                            hideContactInfo(contact_id);
                        });
                        try {
                            $contact_container.append(html);
                        } catch (e) {
                            
                        }

                        showContactInfo(contact_id);
                    }
                );

                return false;
            });

            function showContactInfo(contact_id) {
                var delay = 500;
                $image.fadeOut(delay);
                $details_contact_name.fadeOut(delay);
                $contact_tabs.fadeOut(delay);

                $contact_container.find('#contact-fullname .name').css({ display: 'inline'}).wrap(
                    '<a href="{$wa_backend_url}contacts/#/contact/' + contact_id  + '/"></a>'
                );

                $contact_container.css({
                    position: 'relative',
                    left: 0,
                    right: 0
                }).slideDown(delay, function() {
                    $loading.remove();

                    // there some bugs without set-timeout.
                    // It is javascript indeed, so relax
                    setTimeout(function () {
                        unmakeFixableRequestHeader();
                        setTimeout(function() {
                            makeFixableContactInfo();
                        }, 100);
                    }, 0);

                    $(window).bind('keydown.helpdesk-contact-info', function(e) {
                        if (e.keyCode == 27) {    // Ecs
                            hideContactInfo();
                        }
                    });
                });
            }

            function hideContactInfo(contact_id) {
                var delay = 300;
                $image.fadeIn(delay);
                $details_contact_name.fadeIn(delay);
                $contact_tabs.fadeIn(delay);

                if (contact_id) {
                    $('.contact-tabs').load('?action=contactTabs&id=' + contact_id);
                }

                $(window).unbind('keydown.helpdesk-contact-info');

                $contact_container.css({
                        width: '',
                        margin: ''
                    })
                    .slideUp(delay, function(e){
                        $contact_container.empty();
                        $details.css({
                            marginLeft: ''
                        });

                        // there some bugs without set-timeout.
                        // It is javascript indeed, so relax
                        setTimeout(function () {
                            unmakeFixableContactInfo();
                            setTimeout(function () {
                                makeFixableRequestHeader();
                            }, 100)
                        }, 0);
                    });
            }
        })();
    {/if}

    var edit_list = function(el){
        var $form = $(el),
            $edit = $form.find('[data="edit"]'),
            $save = $form.find('[data="save"]'),
            $cancel = $form.find('[data="cancel"]'),
            $editable = $form.find('[data="editable"]'),
            $inputs = $form.find('[data="inputs"]'),
            $input_name = $inputs.find('[type="text"]'),
            old_name = $input_name.val(),
            dialog = null;

        var save = function() {
            $.post('?module=requests&action=changeSummary', {
                'id': '{$request.id}',
                'summary': $form.find('[name="theme"]').val(),
            }, function(data){
                if (data.status === 'ok') {
                    $.wa.helpdesk_controller.redispatch();
                }
            }, 'json');
        };

        var setname = function(name) {
            $input_name.val(name);
            $inputs.hide();
            $editable.show(); // .find('h1').html(name + '<i class="icon16 edit" data="edit"></i>');
        };

        var discard = function() {
            setname(old_name);
        };

        $edit.on('click', function(){
            $editable.hide();
            $inputs.show();
        });

        $save.on('click', function(e){
            e.preventDefault();
            save();
            return false;
        });

        $inputs.on('keydown', '[type="text"]', function(e){
            var code = e.keyCode || e.which;
            switch (code) {
//                case 13: //save on enter
//                    return;
                case 27: //discard on esc
                    discard();
                    return;
                default:
                    break;
            }
        });

        $form.on('submit', function(e){
            e.preventDefault();

            save();
            return false;
        });

        $cancel.on('click', function(e){
            discard();
        });
    }('[data-edit-request-subject]');


    $('.h-request-fields select').change(function() {
        $.post('?module=requests&action=saveField', {
            request_id: {$request.id},
            name: $(this).attr('name'),
            value: $(this).val()
        });
    });

    {if $all_tags}
        var openAllTagsDialog = function() {
            var tagsinput = $('#h-request-tags-input');
            $('#h-all-tags-dialog').waDialog({
                onSubmit: function(d) {
                    var tags = $(this).find('input[name="tag"]:checked').map(function() {
                        return $(this).val();
                    }).toArray();
                    tagsinput.importTags(tags.join(','));
                    $.post('?module=requests&action=tagSave&set=1', {
                        tag: tags,
                        request_id: {$request.id}
                    });
                    d.trigger('close');
                    return false;
                }
            });
        };
    {/if}

    $('#h-request-tags-input').tagsInput({
        height: 80,
        width: 190,

        {if $can_create_tag}
            autocomplete_url: '?module=requests&action=tagsAutocomplete',
            defaultText: '[`Add tag`]',
            onAddTag: function(tag) {
                $.post('?module=requests&action=tagSave', {
                    tag: tag,
                    request_id: {$request.id}
                });
                $('#h-request-tags-input_tag').autocomplete('close');
                $.wa.helpdesk_controller.reloadSidebar();
            },
            onRemoveTag: function(tag) {
                $.post('?module=requests&action=tagDelete', {
                    tag: tag,
                    request_id: {$request.id}
                });
                $.wa.helpdesk_controller.reloadSidebar();
            },
            interactive: true
        {else}
            onRemoveTag: function(tag) {
                $.post('?module=requests&action=tagDelete', {
                    tag: tag,
                    request_id: {$request.id}
                });
                $.wa.helpdesk_controller.reloadSidebar();
            },
            interactive: false
        {/if}

    });

    {if !$can_create_tag && $all_tags}
        $('#h-request-tags-input_tagsinput').click(function() {
            openAllTagsDialog();
        });
    {/if}

    {if $can_create_tag && $all_tags}
        $('#h-request-tags-input_tagsinput').wrap('<div class="block not-padded tagsinput-wrapper" id="h-request-tags-input_tagsinput-wrapper" style="padding-bottom: 20px; width: 200px;"></div>');
        $('#h-request-tags-input_tagsinput-wrapper').append(
            $('<a class="h-all-tags-open small float-right no-underline hidden" href="javascript:void(0)" style="padding-top: 5px; padding-right: 2px;">[`All tags`]</a>')
                .click(function() {
                    openAllTagsDialog();
                })
        );
    {/if}


    $('.h-request-attachment-image').each(function() {
        var img = $(this);
        var p = img.parent().attr('style', 'position: relative !important');
        p.append(
            $('<div>').attr('style', 'position: absolute !important').css({
                right: 0,
                top: '-18px'
            }).append('<a href="javascript:void(0)" class="h-image-rotate" style="margin-right: 5px" data-direction="left" title="[`Rotate left`]"><i class="icon32 rotate-left"></i></a>')
            .append('<a href="javascript:void(0)" class="h-image-rotate" data-direction="right" title="[`Rotate right`]"><i class="icon32 rotate-right"></i></a>')
        );
    });

    $('.h-image-rotate').click(function() {
        var el = $(this);
        var img = el.parent().closest('a').find('img');
        $.post('?module=requests&action=imageRotate', {
            direction: el.data('direction'),
            request_id: img.data('requestId'),
            log_id: img.data('logId'),
            attach_id: img.data('attachId')
        }, function(r) {
            var src = img.attr('src');
            src = src.replace(/(\?|&)datetime=.+?(&|$)/, '$1').replace(/(\?|&)$/, '');
            src += '&datetime=' + r.data.datetime;
            img.attr('src', src);
        }, 'json');
    });


})();</script>
