<div class="not-blank" style="min-height: calc(100vh - 4rem);">
<div class="article">
    <div class="article-body h-extended-search-form">
        <div class="h-header">
            <h1>[`Advanced search`]</h1>
        </div>

        <div class="support-content fields">

        <form class="advanced-search-form fields-group blank">
            <div class="fields" id="h-adv-search-fields" style="position:relative;">

                <div class="h-add-filter-text alert info" style="display:none;">
                    <p>[`New filter is easy to create using search function. To do so, use <strong>Save as filter</strong> option on the search results page.`]</p>
                </div>
                <div class="field">
                    <div class="name">[`Request ID`]</div>
                    <div class="value">
                        <input type="text" name="range_id_start" class="bold h-range-input"
                                        value="{strip}
                                {if isset($filters.range_id)}
                                    {if $filters.range_id.op === ':' || $filters.range_id.op === '>='}
                                        {$filters.range_id.val[0]}
                                    {/if}
                                {else if isset($filters.c_name_id.val) && isset($filters.c_name_id.val) && is_numeric($filters.c_name_id.val)}
                                    {$filters.c_name_id.val}
                                {/if}{/strip}"> &mdash;
                        <input type="text" name="range_id_end" class="bold h-range-input"
                                        value="{strip}
                                {if isset($filters.range_id)}
                                    {if $filters.range_id.op === ':'}
                                        {$filters.range_id.val[1]}
                                    {else if $filters.range_id.op === '<='}
                                        {$filters.range_id.val[0]}
                                    {/if}
                                {else if isset($filters.c_name_id) && isset($filters.c_name_id.val) && is_numeric($filters.c_name_id.val)}
                                    {$filters.c_name_id.val}
                                {/if}{/strip}">

                    </div>
                </div>

                <div class="field h-choose-period">
                    <div class="name">[`Create date`]</div>
                    <div class="value">
                        <input type="text" name="created_start" class="bold h-datepicker" value="{if isset($filters.created)}{if $filters.created.op === ':' || $filters.created.op === '>='}{$filters.created.val[0]}{/if}{/if}"> &mdash;
                        <input type="text" name="created_end" class="bold h-datepicker" value="{if isset($filters.created)}{if $filters.created.op === ':'}{$filters.created.val[1]}{else if $filters.created.op === '<='}{$filters.created.val[0]}{/if}{/if}">
                    </div>
                </div>

                <div class="field">
                    <div class="name">[`Client name`]</div>
                    <div class="value">
                        <input type="search" name="client_name" value="{if isset($filters.c_name_id) && !is_numeric($filters.c_name_id.val)}{$filters.c_name_id.val|default:""}{/if}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Client email`]</div>
                    <div class="value">
                        <input type="search" name="client_email" value="{if isset($filters.c_email)}{$filters.c_email.val|default:""}{/if}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Source`]</div>
                    <div class="value">
                        <div class="flexbox space-8">
                            <a href="javascript:void(0)" class="h-open-dialog selected-items small gray-link" data-dialog="source"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                            <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                        </div>
                        <div class="h-dialogable" data-id="source" data-name="[`Source`]">
                            <ul class="menu checklist">
                                {foreach $sources as $_wf_name=>$_src}
                                    <li class="{if !$_src@first}custom-mt-16{/if} custom-mb-4"><div class="semibold gray uppercase">{$_wf_name|escape}</div></li>
                                    {foreach $_src as $_s}
                                    <li><label>
                                        <span class="wa-checkbox">
                                            <input type="checkbox" name="source_id" value="{$_s.id}" {if !empty($filters.source.val) && in_array($_s.id, $filters.source.val)}checked="checked"{/if}>
                                            <span>
                                                <span class="icon">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </span>
                                        </span>
                                        {$_s.name|escape}
                                    </label></li>
                                    {/foreach}
                                {/foreach}
                            </ul>
                            <div class="hint">[`Search requests added via selected sources`]</div>
                        </div>
                    </div>
                </div>
                {if !empty($workflows)}
                    <div class="field">
                        <div class="name">[`State`]</div>
                        <div class="value">
                            {if count($workflows) > 1}
                                <div class="flexbox space-8">
                                    <a href="javascript:void(0)" class="h-open-dialog selected-items small gray-link" data-dialog="state"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                                    <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                                </div>
                                <div class="h-dialogable" data-id="state" data-name="[`State`]">
                                    <ul class="menu checklist">
                                        {foreach $states as $wf_id => $sts}
                                            <li class="{if !$sts@first}custom-mt-16{/if} custom-mb-4"><div class="semibold gray uppercase">{$workflows[$wf_id]|escape}</div></li>
                                            {foreach $sts as $state_id => $state_name}
                                                {$val = $wf_id|cat:'@':$state_id}
                                                <li><label>
                                                    <span class="wa-checkbox">
                                                        <input type="checkbox" name="state_id" value="{$val}" {if !empty($filters.state.val) && in_array($val, $filters.state.val)}checked="checked"{/if}>
                                                        <span>
                                                            <span class="icon">
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    {$state_name|escape}
                                                </label></li>
                                            {/foreach}
                                        {/foreach}

                                        {foreach $all_states as $s}
                                            {if $s.deleted}
                                                <li><label>
                                                    <span class="wa-checkbox">
                                                        <input type="checkbox" name="state_id" value="{$s.id}">
                                                        <span>
                                                            <span class="icon">
                                                                <i class="fas fa-check"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    {$s.name|escape}
                                                </label></li>
                                            {/if}
                                        {/foreach}
                                    </ul>
                                    <div class="hint">[`Search requests which are currently in selected states`]</div>
                                </div>
                            {else}
                                <div class="flexbox space-8">
                                    <a href="javascript:void(0)" class="h-open-dialog selected-items small gray-link" data-dialog="state"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                                    <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                                </div>
                                <div class="h-dialogable" data-id="state" data-name="[`State`]">
                                    <ul class="menu checklist">
                                        {foreach $states as $wf_id => $sts}
                                            <li class="{if !$sts@first}custom-mt-16{/if} custom-mb-4"><div class="semibold gray uppercase">{$workflows[$wf_id]|escape}</div></li>
                                            {foreach $sts as $state_id => $state_name}
                                                {$val = $wf_id|cat:'@':$state_id}
                                                <li><label>
                                                    <input type="checkbox" name="state_id" value="{$val}" {if !empty($filters.state.val) && in_array($val, $filters.state.val)}checked="checked"{/if}>
                                                    {$state_name|escape}
                                                </label></li>
                                            {/foreach}
                                        {/foreach}

                                        {foreach $all_states as $s}
                                            <li><label>
                                                <span class="wa-checkbox">
                                                    <input type="checkbox" name="state_id" value="{$s.id}" {if !empty($filters.state.val) && in_array($s.id, $filters.state.val)}checked="checked"{/if}>
                                                    <span>
                                                        <span class="icon">
                                                            <i class="fas fa-check"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                {$s.name|escape}
                                            </label></li>
                                        {/foreach}
                                    </ul>
                                    <div class="hint">[`Search requests which are currently in selected states`]</div>
                                </div>
                            {/if}
                        </div>
                    </div>
                {/if}
                <div class="field">
                    <div class="name">[`Assigned to`]</div>
                    <div class="value">
                        <div class="flexbox space-8">
                            <a href="javascript:void(0)" class="h-open-dialog selected-items small gray-link" data-dialog="assigned-to"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                            <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                        </div>
                        <div class="h-dialogable" data-id="assigned-to" data-name="[`Assigned to`]">
                            <ul class="menu checklist">
                                {foreach $assigned_to as $cid => $cname}
                                    <li><label>
                                        <span class="wa-checkbox">
                                            <input type="checkbox" name="assigned_contact_id" value="{$cid}" {if !empty($filters.assigned.val) && in_array($cid, $filters.assigned.val)}checked="checked"{/if}>
                                            <span>
                                                <span class="icon">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </span>
                                        </span>
                                        {$cname|escape}
                                    </label></li>
                                {/foreach}
                                <li><label>
                                    <span class="wa-checkbox">
                                        <input type="checkbox" name="assigned_contact_id" value="0" {if !empty($filters.assigned.val) && in_array('0', $filters.assigned.val)}checked="checked"{/if}>
                                        <span>
                                            <span class="icon">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </span>
                                    </span>
                                </label></li>
                            </ul>
                            <div class="hint">[`Search by users who have open assignments now`]</div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="name">[`Actor`]</div>
                    <div class="value">
                        <div class="flexbox space-8">
                            <a href="javascript:void(0)" class="h-open-dialog selected-items gray-link small" data-dialog="actor"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                            <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                        </div>
                        <div class="h-dialogable" data-id="actor" data-name="[`Actor`]">
                            <ul class="menu checklist">
                                {foreach $actors as $cid => $cname}
                                    <li><label>
                                        <span class="wa-checkbox">
                                            <input type="checkbox" name="actor_id" value="{$cid}" {if !empty($filters.actor_id.val) && in_array($cid, $filters.actor_id.val)}checked="checked"{/if}>
                                            <span>
                                                <span class="icon">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </span>
                                        </span>
                                        {$cname|escape}
                                    </label></li>
                                {/foreach}
                            </ul>
                            <div class="hint">[`Search by users who performed selected actions with requests`]</div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="name">[`Actions`]</div>
                    <div class="value">
                        <div class="flexbox space-8">
                            <a href="javascript:void(0)" class="h-open-dialog selected-items gray-link small" data-dialog="actions"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                            <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                        </div>
                        <div class="h-dialogable" data-id="actions" data-name="[`Actions`]">
                            <ul class="menu checklist">
                                {foreach $all_actions as $_wf_name => $_actions}
                                    <li class="{if !$_actions@first}custom-mt-16{/if} custom-mb-4"><div class="semibold gray uppercase">{$_wf_name|escape}</div></li>
                                    {foreach $_actions as $a}
                                        <li><label>
                                            <span class="wa-checkbox">
                                                <input type="checkbox" name="action_id" value="{$a.id|escape}" {if !empty($filters.action_id.val) && in_array($a.id, $filters.action_id.val)}checked="checked"{/if}>
                                                <span>
                                                    <span class="icon">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </span>
                                            </span>
                                            {if $a.deleted}
                                                <span style="color:#888;">
                                                    {$a.name|escape}
                                                </span>
                                            {else}
                                                {$a.name|escape}
                                            {/if}
                                        </label></li>
                                    {/foreach}
                                {/foreach}
                            </ul>
                            <div class="hint">[`Search requests on which selected actions have ever been executed`]</div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="name">[`Tags`]</div>
                    <div class="value">
                        <div class="flexbox space-8">
                            <a href="javascript:void(0)" class="h-open-dialog selected-items gray-link small" data-dialog="tags"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                            <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                        </div>
                        <div class="h-dialogable" data-id="tags" data-name="[`Tags`]">
                            <ul class="checklist chips tags small">
                                {foreach $tags as $t}
                                    <li><label class="chip">
                                        <span class="wa-checkbox">
                                            <input type="checkbox" name="tag_id" value="{$t.id}" {if !empty($filters.tag_id.val) && in_array($t.id, $filters.tag_id.val)}checked="checked"{/if}>
                                            <span>
                                                <span class="icon">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </span>
                                        </span>
                                        {$t.name|escape}
                                    </label></li>
                                {/foreach}
                            </ul>
                            <div class="hint">[`Search requests with selected tags assigned`]</div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="name">[`Words`]</div>
                    <div class="value">

                        <input type="search" name="words" value="{$filters.search.val[0]|default:""|escape}">

                        <div class="custom-mt-12 flexbox vertical space-4">
                            <p class="compact"><label>
                                <input type="radio" name="words_search_where" value="summary" {if $filters.search.val[1]|default:'' === 'summary'}checked="checked"{/if}> [`Search in request subject`]
                            </label></p>
                            <p class="compact"><label>
                                <input type="radio" name="words_search_where" value="text,summary" {if $filters.search.val[1]|default:'' === 'text,summary' || empty($filters.search.val[1])}checked="checked"{/if}> [`Search in request subject and text`]
                            </label></p>
                            <p class="last compact"><label>
                                <input type="radio" name="words_search_where" value="log_text" {if $filters.search.val[1]|default:'' === 'log_text'}checked="checked"{/if}> [`Search in discussions, comments, and responses sent to a client`]
                            </label></p>
                        </div>
                    </div>
                </div>

                {foreach $fields as $f_id => $field}
                    <div class="field">
                        <div class="name">{$field->getName()|escape}</div>
                        <div class="value">
                            {if $field->getType() === 'Select'}
                                {$data_dialog_id = $field->getId()}
                                <div class="flexbox space-8">
                                    <a href="javascript:void(0)" class="h-open-dialog selected-items gray-link small" data-dialog="{$data_dialog_id}"><i class="fas fa-pen fa-xs"></i> [`select`]</a>
                                    <a href="javascript:void(0)" class="h-clean-checklist" style="display: none;"><i class="fas fa-times-circle back"></i></a>
                                </div>
                                <div class="h-dialogable" data-id="{$data_dialog_id}" data-name="{$field->getName()}">
                                    <ul class="menu checklist">
                                        {foreach $select_fields_options[$f_id]|default:[] as $opt_value => $opt_name}
                                            <li><label>
                                                <span class="wa-checkbox">
                                                    <input type="checkbox" class="h-request-field" data-field-id="{$f_id}" name="field[{$f_id}]" value="{$opt_value}" {if !empty($filters['field_'|cat:$f_id].val) && in_array($opt_value, $filters['field_'|cat:$f_id].val)}checked="checked"{/if}>
                                                    <span>
                                                        <span class="icon">
                                                            <i class="fas fa-check"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                                {$opt_name|escape}
                                            </label></li>
                                        {/foreach}
                                    </ul>
                                </div>
                            {else if ($field->getType() === 'Checkbox')}
                            <div class="wa-select" style="width: 75px;">
                                <select name="field[{$f_id}]" class="h-request-field shortest" data-field-id="{$f_id}">
                                    <option {if !isset($filters['field_'|cat:$f_id].val)}selected="selected"{/if}></option>
                                    <option value="1" {if isset($filters['field_'|cat:$f_id].val) && $filters['field_'|cat:$f_id].val}selected="selected"{/if}>[`Yes`]</option>
                                    <option value="0" {if isset($filters['field_'|cat:$f_id].val) && !$filters['field_'|cat:$f_id].val}selected="selected"{/if}>[`No`]</option>
                                </select>
                            </div>
                            {else}
                                <input type="search" class="h-field-autocomplete h-request-field" data-field-id="{$f_id}" name="field[{$f_id}]" {if !empty($filters['field_'|cat:$f_id].val)}value="{$filters['field_'|cat:$f_id].val}"{/if}>
                            {/if}
                        </div>
                    </div>
                {/foreach}

                {*
                    * Container for additional params generated by workflows and actions
                    *}
                <div id="hd-adv-search-additional-params"></div>

                <div class="field custom-mt-32">
                    <div class="value submit">
                        <button type="submit" class="button">[`Search`]</button>
                        <button type="button" class="h-clear button gray custom-ml-4" style="display: none;">[`Clear`]</button>
                    </div>
                </div>
            </div>
        </form>
        </div>

    </div>
</div>
<script>(function() { "use strict";
    var wrapper = $('#h-adv-search-fields');
    var form = wrapper.closest('form');

    // States by workflow
    var states = {json_encode($states)};

    {if $wa->setting('search_additional_fields')}

        // Load additional fields
        $('#hd-adv-search-additional-params').html('<div class="field"><div class="value"><i class="fas fa-spinner loading"></i></div></div>');
        $.post('?module=backend&action=additionalFields', {}, function(result) {
            $('#hd-adv-search-additional-params').html(result).find('input:text[name]').each(function() {
                var input = $(this);
                input.autocomplete({
                    source: '?action=searchAutocomplete&n='+input.attr('name')
                });
            });
        });

    {/if}

    // autocomplete for some fields
    $.each(['id', 'client_email', 'client_name'], function(i, name) {
        wrapper.find('input[type="search"][name="'+name+'"]').autocomplete({
            source: '?action=searchAutocomplete&n=!'+name
        });
    });

    // fields autocomplete
    $('.h-field-autocomplete').each(function() {
        $(this).autocomplete({
            source: '?action=searchAutocomplete&n=' + $(this).data('fieldId')
        });
    });

    // search form submit
    form.submit(function() {
        form.find('.state-error-hint').remove();
        form.find('.state-error').removeClass('state-error');
        var errors = [];

        // pack filters into hash string
        var filters = [], header_parts = [];

        // ID
        $.each({
            client_email: 'c_email',
            client_name: 'c_name_id',
            source_id: 'source',
            state_id: 'state',
            assigned_contact_id: 'assigned',
            actor_id: 'actor_id',
            action_id: 'action_id',
            tag_id: 'tag_id'
        }, function(html_id, filter_id) {
            var f = wrapper.find('[name="'+html_id+'"]');
            var val;
            if (f.length > 1) {
                val = [];
                f.each(function() {
                    var self = $(this);
                    if (self.is(':checked')) {
                        val.push($.trim(self.val()));
                    }
                });
                val = val.join(',');
            } else {
                val = '';
                if (!{ checkbox:1, radio:1 }[f.attr('type')] || f.is(':checked')) {
                    val = $.trim(f.val());
                }
            }

            if (val) {
                filters.push({
                    name: filter_id,
                    param: [val]
                });

                if (f.is('select')) {
                    val = f.children(':selected').text();
                } else {
                    var cl = f.first().closest('.checklist');
                    if (cl && cl.length) {
                        val = cl.find('.selected-items').text();
                    }
                }

            }
        });

        // range fields
        $.each(['created', 'range_id'], function(i, name) {
            var start = wrapper.find('input[name="' + name + '_start"]');
            var end = wrapper.find('input[name="' + name + '_end"]');
            var start_val = $.trim(start.val());
            var end_val = $.trim(end.val());
            if (!start_val && !end_val) {
                return;
            }
            if (start_val && !end_val) {
                filters.push({
                    name: name,
                    op: '>=',
                    param: [start_val]
                });
            } else if (!start_val && end_val) {
                filters.push({
                    name: name,
                    op: '<=',
                    param: [end_val]
                });
            } else {
                filters.push({
                    name: name,
                    op: ':',
                    param: [start_val + '--' + end_val]
                });
            }
        });


        // Word search (fulltext)
        (function(i, input_name) {
            var f = wrapper.find('input[name="words"]');
            var val = $.trim(f.val());
            if (val) {
                var search_place = wrapper.find('input[name="words_search_where"]:checked').val();
                if (!search_place) {
                     return;
                }

                if (val.indexOf('"') >= 0 || val.indexOf('(') >= 0) {
                    filters.push({
                        name: 'search',
                        param: [val, search_place]
                    });
                } else {
                    var orig_words = $.trim(val).split(/\s+/g);
                    if (orig_words.length > 0 && orig_words[0]) {
                        var words = [];
                        $.each(orig_words, function(i, word) {
                            if (!word) {
                                return;
                            }
                            if (['+', '-', '~', '>', '<'].indexOf(word[0]) < 0 && word[word.length-1] != '*') {
                                if (search_place == 'log_text' && word.length < 4) {
                                    errors.push({
                                        field_name: 'words',
                                        errormsg: "[`Words to search must be %d or more characters each`]".replace('%d', 4)
                                    });
                                    return false;
                                } else if (word.length < 2) {
                                    errors.push({
                                        field_name: 'words',
                                        errormsg: "[`Words to search must be %d or more characters each`]".replace('%d', 2)
                                    });
                                    return false;
                                }
                                word = '+'+word;
                            }
                            words.push(word);
                        });

                        filters.push({
                            name: 'search',
                            param: [words.join(' '), search_place]
                        });
                    }
                }
            }
        })();

        {if $wa->setting('search_additional_fields')}
            // Additional fields
            $('#hd-adv-search-additional-params input').each(function(i, fld) {
                fld = $(fld);
                var val = $.trim(fld.val());
                if (val) {
                    filters.push({
                        name: 'param',
                        param: [fld.attr('name'), val]
                    });
                }
            });
        {/if}

        var request_field_values = { };

        $('.h-request-field').each(function() {
            var item = $(this);
            var val = $.trim(item.val());
            var id = item.data('fieldId');
            if (item.is(':checkbox')) {
                if (item.is(':checked')) {
                    if (!request_field_values[id]) {
                        request_field_values[id] = [val];
                    } else {
                        request_field_values[id].push(val);
                    }
                }
            } else if (val) {
                request_field_values[id] = [val];
            }
        });


        $.each(request_field_values, function(key, val) {
            filters.push({
                'name': 'field',
                'param': [key, request_field_values[key].join(',')]
            });
        });



        // Plugin fields processed by events (callbacks)
        var e = new $.Event('search_submitted');
        e.filters = filters;
        //e.header_parts = header_parts;
        e.errors = errors;
        $("#h-adv-search-fields").trigger(e);

        if (errors.length) {
            $.each(errors, function(i, e) {
                var f = form.find('[name="'+e.field_name+'"]');
                if (f.length <= 0) {
                    f = form.find(':submit');
                }
                if (f.length > 0) {
                    f.last().parent().append($('<div class="state-error-hint"></div>').text(e.errormsg));
                }
            });
            return false;
        }

        var header_hash = '';
        if (!e.header_string && e.header_parts && e.header_parts.length) {
            //e.header_string = e.header_parts.join(', ');
        }
        if (filters.length) {
            const loading = $.wa.helpers.createLoadingSubmit($(this).find(':submit'));
            loading.show();
        }
        $.wa.setHash('#/requests/search/'+(new $.wa.Grid()).compileFilters(filters)+'/');
        return false;
    });

    var getChecklistTitle = function(ul) {
        var text = ul.find('input:checked').map(function() {
            return $(this).closest('label').text().trim();
        }).toArray().join(', ');
        return text;
    };
    var isChecklistEmpty = function(ul) {
        return !ul.find('input:checked').length;
    };

    $('.h-clean-checklist').click(function() {
        var item = $(this);
        var ul = item.closest('.value').find('ul');
        ul.find(':checked').prop('checked', false);
        item.closest('.field').find('.h-open-dialog').addClass('small gray-link').html('<i class="fas fa-pen fa-xs"></i> [`select`]');
        item.hide();
    });

    $('.h-open-dialog').click(function() {
        var item = $(this);
        var $dialogable = $('.h-dialogable[data-id="' + item.data('dialog') + '"]');
        var name = $dialogable.data('name');
        var ul = $dialogable.find('ul');
        var list = ul.find('li');

        var d = null;
        var dialog_params = {
            header: $('<h1 />').text(name),
            content: $('<div class="h-render-content-here" />'),
            footer: $('<input type="submit" class="button green" value="[`Save`]"><button class="button light-gray js-close-dialog">[`Close`]</button>')
        };

        dialog_params.content
            .append(list.length ? $dialogable.find('.hint').clone() : '')
            .append(list.length ? ul.clone() : '<p class="align-center" style="margin-top: 100px;">[`No options available`]</p>');

        dialog_params.footer.filter(':submit').prop('disabled', list.length ? false : true)
            .on('click', function() {
                var changed_ul = dialog_params.content.find('ul');
                var filter_str = getChecklistTitle(changed_ul);
                if (filter_str) {
                    item.text(filter_str);
                } else {
                    item.html('<i class="fas fa-pen fa-xs"></i> [`select`]');
                }
                ul.replaceWith(changed_ul);

                if (isChecklistEmpty(changed_ul)) {
                    item.closest('.field').find('.h-clean-checklist').hide();
                    item.addClass('small gray-link');
                } else {
                    item.closest('.field').find('.h-clean-checklist').show();
                    item.removeClass('small gray-link');
                }
                d.close();
            });

        d = $.waDialog(dialog_params);

        return false;
    });

    $('.checklist').each(function() {
        $(this).find('.selected-items').text(getChecklistTitle($(this).find('ul')));
        if (!isChecklistEmpty($(this).find('ul'))) {
            $(this).closest('.field').find('.h-clean-checklist').show();
            $(this).find('.selected-items').removeClass('small gray');
        }
    });


    $('.h-choose-period').each(function() {
        var start_input = $('.h-datepicker:first', this);
        var end_input = $('.h-datepicker:last', this);
        $('.h-datepicker', this).datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        }).change();
    });

})();
</script>
</div>
