<div class="height-100 not-blank">
<div class="article wide">
<div id="hd-new-request" class="article-body h-new-request">
<div class="topmost-grid-wrapper custom-mb-40">
    <div class="h-header-block flexbox end space-12 wrap">
        <h1>
            <span class="h-header-text">{if $form_id === 'backend'}[`New request`]{else}{$source.name|escape}{/if}</span>
        </h1>
        {if $form_id === 'backend' && $helpdesk_backend_rights > 1}
        <button type="button" class="h-source-settings-toggle button light-gray circle small"><i class="fas fa-cog settings"></i></button>
        {/if}
    </div>
</div>
<div class="support-content">
    {if $form_id === 'backend' && $helpdesk_backend_rights > 1}
    <div class="h-source-settings" style="display:none;">
        <p class="custom-ml-8">[`Specify default values for new request.`]</p>
        <div class="fields">
            <div class="fields-group blank">
                <div class="h-source-settings-form-wrapper">
                    {$settings_html}
                </div>
                <div class="field bottombar sticky">
                    <div class="value submit custom-pt-16">
                        <button type="submit" class="button green">[`Save`]</button>
                        <button type="button" class="button cancel light-gray">[`Cancel`]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/if}
    <div class="h-form-content fields">
        {$form_html}
    </div>
</div>

<script>
    $(function() { 'use strict';
        const $wrapper = $('#hd-new-request');
        const $dropdown = $($('#hd-new-request-forms-template').html());

        $dropdown
            .addClass('custom-ml-auto')
            .appendTo($wrapper.find('.h-header-block'))
            .waDropdown();

        {if $form_id !== 'backend'}
            $dropdown.find('.menu').find('li[data-id="{$form_id}"]').hide()
                .end().find('li.h-new').removeClass('hidden')
                .end().find('li.hr').removeClass('hidden');
        {/if}


        {if $form_id === 'backend' && $helpdesk_backend_rights > 1}
            var settings = $('.h-source-settings');
            var toggle = $('.h-source-settings-toggle');
            toggle.click(function() {
                if (settings.is(':hidden')) {
                    settings.show();
                    $(this).hide();
                    $dropdown.hide();
                    $('.h-form-content').hide();
                }
            });

            const $form = settings.find('form');
            const $submit = settings.find(':submit');
            $.wa.helpdesk_controller.watchNewRequestForm = $.wa.helpers.watchChangeForm($form, $submit);
            settings
                .find('.cancel').click(function() {
                    settings.hide();
                    toggle.show();
                    $dropdown.show();
                    $('.h-form-content').show();
                    $.wa.helpdesk_controller.watchNewRequestForm.reset();
                })
                .end()
                .find(':submit').click(function() {
                    $.wa.helpers.createLoadingSubmit($submit).show();
                    $.post('?module=requests&action=add&form_id={$form_id}', $form.serialize(), function(html) {
                        var tmp = $('<div>').html(html);
                        $('.h-source-settings').html(tmp.find('.h-source-settings').html());
                        tmp.remove();
                        if (!$('.h-source-settings .state-error-hint').length) {
                            $.wa.helpdesk_controller.redispatch();
                        }
                    });
                });
        {/if}

    });
</script>
</div>
</div>
</div>
