{if (empty($data.id) && !strlen($data.id)) || !empty($data.is_new)}
    <h1>[`Create new state`]</h1>
{else}
    <h1>[`Edit state`]</h1>
{/if}

<form id="hd-{$uniqid}" action="?module=editor&action=state" method="post" autocomplete="off">
    <div class="fields">
        <input type="hidden" name="wid" value="{$wf->getId()}">
        <div class="field-group">
            <div class="field">
                <div class="name">[`Name `]</div>
                <div class="value">
                    <input type="text" class="width-90" name="name" value="{ifset($data.name)}">
                    {if empty($data.is_new) && strlen($data.id)}
                        <div class="hint">([`ID:`] {$data.id})</div>
                    {/if}
                </div>
            </div>
            {if (empty($data.id) && !strlen($data.id)) || !empty($data.is_new)}
                <div class="field">
                    <div class="name">[`ID `]</div>
                    <div class="value">
                        <input type="text" class="width-90" name="id" value="{ifset($data.id)}" autocomplete="off">
                        <span class="loading hidden"><i class="fas fa-spinner fa-spin wa-animation-spin text-gray"></i></span>
                    </div>
                </div>
                <input type="hidden" name="is_new" value="1">
            {else}
                <input type="hidden" name="id" value="{$data.id}">
            {/if}
            <div class="field">
                <div class="name">[`Customer Portal`]</div>
                <div class="value">
                    <div class="switch-with-text nowrap">
                        <span id="js-customer-portal-toggle" class="switch small">
                            <input type="checkbox" id="customer-portal" {if !empty($data.customer_portal_name)}checked="checked"{/if}>
                        </span>
                        <label class="small" for="customer-portal" data-active-text="[`On`]" data-inactive-text="[`Off`]"></label>
                    </div>
                    <div class="hint">[`If enabled, requests in this status are available for clients in their Customer Portal.`]</div>

                    <div class="fields custom-mt-16">
                        <div class="field">
                            <div class="value" id="customer-portal-name" style="display: none;">
                                <span class="dark-hint">[`Name of this state in the Customer Portal:`]</span> <input type="text" class="width-90" name="customer_portal_name" value="{ifempty($data.customer_portal_name)}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="field-group">
            <div class="field">
                <div class="name">[`Color`]</div>
                <div class="value">
                    {wa_action app="helpdesk" module="editor" action="palette" uniqid="hd-`$uniqid`-basic-colors" pre_selected=$pre_selected_color}
                    <input type="hidden" name="style" value="{ifset($data.style)}">
                    <div id="hd-{$uniqid}-sample">
                        <span class="hint">[`Selected color will be used to display this state name.`]</span>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="available_actions" value="">

        {if empty($data.is_new) && (!empty($data.id) || strlen($data.id))}
            <div class="field-group">
                <div class="field">
                    <div class="name">[`Actions`]</div>
                    <div class="value">
                        {if !empty($available_actions)}
                            <ul class="menu actions-order-list">
                                {foreach $available_actions as $action}
                                    <li data-action="{$action->getId()}" style="color:{$action->getOption('user_button_border_color')};cursor:move;"><span class="sort custom-mr-8 gray"><i class="fas fa-grip-vertical"></i></span>{$action->getName()}</li>
                                {/foreach}
                            </ul>
                            <p class="hint custom-mt-4">
                                [`Action buttons will appear in this order on request-viewing pages.`]
                                [`Drag & drop action names to change their order.`]
                            </p>
                        {else}
                            <p class="hint custom-mt-4">[`No actions are specified for this state`]</p>
                        {/if}
                    </div>
                </div>
            </div>
        {/if}
    </div>
</form>
<script>(function() { "use strict";
    var is_exists = !!({$data.id|json_encode});
    var form = $('#hd-{$uniqid}');
    var dialog = form.closest('.dialog');
    var delay = 0;

    // Dialog buttons
    var dialog_buttons = dialog.find('.dialog-footer').empty().addClass('flexbox middle');
    dialog_buttons.append(
        $('<button type="submit" class="button green">'+"[`Save`]"+'</button>').click(function() {
            form.submit();
            return false;
        })
    );
    dialog_buttons.append($('<button type="button" class="button light-gray js-close-dialog">'+"[`Cancel`]"+'</button>'));
    var $submit = dialog_buttons.find(':submit');

    form.submit(function() {
        const loadingSubmit = $.wa.helpers.createLoadingSubmit($submit).show();
        $.post(form.attr('action'), form.serialize(), function(r) {
            loadingSubmit.hide();
            r = String(r).trim();
            if (r === 'ok') {
                $.wa.helpdesk_controller.redispatch();
                $.wa.dialogHide();
            } else if (r) {
                r = r.replace(new RegExp('<h1>\.+</h1>'), '');
                form.parent().html(r);
            }
        });
        return false;
    });

    {if $errors}
        {foreach $errors as $field_name => $e}
            form.find('[name="{$field_name}"]').addClass('state-error').after($('<div class="state-error-hint"></div>').text("{$e}"));
        {/foreach}
        form.on('keyup', 'input.state-error:text,textarea.state-error', function() {
            $(this).removeClass('state-error').siblings('.state-error-hint').remove();
        });
        form.on('change', '.state-error', function() {
            $(this).removeClass('state-error').siblings('.state-error-hint').remove();
        });
    {/if}

    {if (empty($data.id) && !strlen($data.id)) || !empty($data.is_new)}
        // Transliterate state name into ID
        (function() {
            var ignore_name_change = false;
            var id_field = form.find('[name="id"]');
            var name_field = form.find('[name="name"]');

            // When user changes ID by hand, do not replace it via transliteration (unless field is empty)
            id_field.on('keyup', function() {
                setTimeout(function() {
                    ignore_name_change = !!id_field.val();
                }, 0);
            });

            // Transliterate name into id when user changes it
            var timeout = null;
            name_field.on('keypress', function() {
                if (ignore_name_change) {
                    return;
                }
                if (timeout) {
                    clearTimeout(timeout);
                } else {
                    id_field.prop('disabled', true);
                    $submit.prop('disabled', true);
                    id_field.removeClass('state-error')
                        .siblings('.state-error-hint').remove()
                        .end().siblings('.loading').removeClass('hidden');
                }
                timeout = setTimeout(function() {
                    timeout = null;
                    if (ignore_name_change) {
                        id_field.siblings('.loading').addClass('hidden');
                        id_field.removeAttr('disabled');
                        $submit.removeAttr('disabled');
                        return;
                    }
                    $.get('?action=translit', { str: name_field.val() }, function(r) {
                        id_field.siblings('.loading').addClass('hidden');
                        id_field.removeAttr('disabled');
                        $submit.removeAttr('disabled');
                        if (ignore_name_change) {
                            return;
                        }
                        id_field.val(r.data);
                    }, 'json');
                }, 1000);
            })
        })();
    {/if}

    (function() {
        var colorpicker_wrapper = $('#hd-{$uniqid}-basic-colors');
        var style_input = form.find('[name="style"]');
        var preview_div = $('#hd-{$uniqid}-sample');

        var updatePreview = function() {
            preview_div.attr('style', style_input.val());
        };

        colorpicker_wrapper.on('change', 'li', function() {
            var color = $(this).children().data('color');
            if (!color) {
                return;
            }

            var style = style_input.val();
            style = $.trim(style.replace(/(^|[^-])color:[^;]+;?/, ''));
            style += (style ? ';' : '')+'color:'+color+';';
            style = style.replace(';;', ';');
            style_input.val(style);
            updatePreview();
        });

        updatePreview();
    })();

    {if strlen($data.id) && empty($data.is_new)}
        form.closest('.dialog').find('.dialog-footer').append(
            $('<button type="button" class="buton outlined red custom-ml-auto smaller"><i class="fas fa-trash-alt"></i> <span class="desktop-and-tablet-only">'+'[`Delete this state`]'+'</span></button>').click(function() {
                $.waDialog.confirm({
                    title: "[`Are you sure?`]",
                    text: ({$state_requests_num} > 0 ? "<i class='fas fa-exclamation-triangle text-orange custom-mr-4 icon'></i>{sprintf_wp('%s found in this state. These requests will NOT be deleted, but they will stay in unknown state.', _w('%d request', '%d requests', $state_requests_num))}" : ''),
                    success_button_title: $_('Delete'),
                    success_button_class: 'danger',
                    cancel_button_title: $_('Cancel'),
                    cancel_button_class: 'light-gray',
                    onSuccess: function(d) {
                        const submit_loading = $.wa.helpers.createLoadingSubmit(d.$body.find('.js-success-action')).show();
                        $.post('?module=editor&action=remstateSave', { wid: "{$wf->getId()}", eid: "{$data.id}" }, function() {
                            submit_loading.hide();
                            $.wa.helpdesk_controller.redispatch();
                            $.wa.dialogHide();
                        });
                    }
                });
            })
        );
    {else}
        form.find('input:text:first').focus();
    {/if}

    {if !empty($available_actions) && count($available_actions) > 1}
        // Drag-and-drop for actions
        (function() {
            var ul = form.find('ul.menu.actions-order-list');
            var input_hidden = form.find('[name="available_actions"]');

            var updateHiddenInput = function() {
                input_hidden.val(ul.children().map(function() { return $(this).data('action'); }).get().join(','));
            };
            updateHiddenInput();

            $.wa.helpers.loadSortableJS().then(() => {
                ul.sortable({
                    draggable: 'li',
                    onEnd: updateHiddenInput
                })
            });
        })();
    {/if}

    $('#js-customer-portal-toggle').waSwitch({
        ready(wa_switch) {
            let $label = wa_switch.$wrapper.siblings('label');
            wa_switch.$label = $label;
            wa_switch.active_text = $label.data('active-text');
            wa_switch.inactive_text = $label.data('inactive-text');
            wa_switch.set(wa_switch.is_active, true);
        },
        change(active, wa_switch) {
            wa_switch.$label.text(active ? wa_switch.active_text : wa_switch.inactive_text);
            var cb = wa_switch.$field;
            if (cb.is(':checked')) {
                var name_input = $('#customer-portal-name').slideDown(delay).find('input');
                if (!name_input.val()) {
                    name_input.val(form.find('[name="name"]').val());
                }
            } else {
                $('#customer-portal-name').slideUp(delay, function () {
                    $(this).find('input').val('');
                });
            }
        }
    });

    delay = 200;

    if (is_exists) {
        $.wa.helpers.watchChangeForm(form, $submit);
    }
})();</script>
