{if $actions || !$auto_action_already_exists}
{capture assign="_dialog_new_action"}
<div class="dialog" data-global-close>
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>[`Add a new action`] <span class="hint">{sprintf_wp('for state &ldquo;%s&rdquo;', $state->getName())}</span></h1>
        </header>
        <div class="dialog-content">
            <form>
                <input type="hidden" name="wid" value="{$wf->getId()}">
                <input type="hidden" name="state_id" value="{$state->getId()}">

                {if $actions}
                    <div><label>
                        <input type="radio" name="new_or_existing" value="existing"{if ifempty($data.new_or_existing) != 'new'} checked{/if}>
                        [`Choose an existing action:`]
                    </label></div>

                    <ul class="menu custom-ml-20 custom-mt-8 space-8" id="action-selector">
                        {foreach $actions as $id => $name}
                            <li><label>
                                <input type="checkbox" name="existing_action_ids[]" value="{$id|escape}"{if in_array($id, ifempty($data.existing_action_ids, array()))} checked{/if}>
                                {$name|escape}
                            </label></li>
                        {/foreach}
                    </ul>
                {/if}

                <ul class="menu large">
                    <li>
                        <label>
                            <input type="radio" name="new_or_existing" value="helpdeskWorkflowBasicAction" {if ifempty($data.new_or_existing) == 'new'} checked{/if}>
                            [`Create a new action to be performed by user`]
                        </label>
                        <div class="hint">
                            [`Users perform this action manually on the request's page or in their Customer portals.`]
                        </div>
                    </li>
                    {if !$auto_action_already_exists}
                        <li class="custom-mt-16">
                            <label>
                                <input type="radio" name="new_or_existing" value="helpdeskWorkflowBasicAutoAction" {if ifempty($data.new_or_existing) == 'new'} checked{/if}>
                                [`Create a new action to be performed automatically`]
                            </label>
                            <div class="hint">
                                [`This action will be triggered automatically (by time-out) if no other actions are performed with request during a certain period of time.`]
                            </div>
                        </li>
                    {/if}
                </ul>
            </form>
        </div>
        <footer class="dialog-footer">
            <button type="submit" class="button" {if ifempty($data.new_or_existing) != 'new'}disabled{/if}>[`Proceed`]</button>
            <button type="button" class="js-close-dialog button light-gray">[`Close`]</button>
        </footer>
    </div>
</div>
{/capture}

<script>(function() { "use strict";
        $.waDialog({
            html: {$_dialog_new_action|json_encode},
            onOpen: function(dialog, dialog_instance) {
                var ul = $('#action-selector');
                var radios = dialog.find('input[name=new_or_existing]');
                var checkboxes = dialog.find('input[name="existing_action_ids[]"]');
                var form = dialog.find('form');
                var $submit = dialog.find(':submit');

                var enableButton = function() {
                    $submit.prop('disabled', false);
                };

                var disabledButton = function () {
                    $submit.prop('disabled', true);
                };

                var isAllCheckboxesUnchecked = function() {
                    return !checkboxes.filter(':checked').length;
                };

                var isCurrentRadioIsExisting = function() {
                    return radios.filter(':checked').val() === 'existing';
                };

                var onChange = function(isTrigger) {
                    if (!isTrigger) {
                        if (isCurrentRadioIsExisting() && isAllCheckboxesUnchecked()) {
                            disabledButton();
                        } else {
                            enableButton();
                        }
                    }
                };


                // Checkbox controllers
                ul.on('change', 'input:checkbox', function(e) {
                    var input = $(this);
                    if (input.is(':checked')) {
                        input.closest('label').addClass('highlighted');
                        radios.first().prop('checked', true);
                    } else {
                        input.closest('label').removeClass('highlighted');
                    }
                    onChange(e.isTrigger);
                });

                // Radio buttons controller
                radios.change(function(e) {
                    if (!radios.first().is(':checked')) {
                        ul.find(':checkbox:checked').prop('checked', false).change();
                    }
                    onChange(e.isTrigger);
                });

                {if $data}
                    radios.change();
                    ul.find(':checkbox:checked').change();
                {/if}

                $submit.click(function() {
                    const loadingSubmit = $.wa.helpers.createLoadingSubmit($submit).show();
                    if (radios.filter(':checked').prop('value') == 'existing') {
                        $.post('?module=editor&action=newaction', form.serialize(), function(r) {
                            loadingSubmit.hide();
                            form.parent().append(r);
                        });
                    } else {
                        var action_class = radios.filter(':checked').val();
                        $.wa.helpdesk_controller.showActionSettings('{$wf->getId()}', "{$state->getId()}", '', action_class, "[`Save`]", "[`or`]", "[`cancel`]", "[`Delete this action`]", "[`The action will be eliminated only for the state &ldquo;%s&rdquo;. For other states this action will stay available.`]")
                            .then(() => {
                                loadingSubmit.hide();
                                dialog_instance.close();
                            });
                    }
                });
            }
        });

})();</script>

{else}
    <script>
        (function() { "use strict";
            $.wa.helpdesk_controller.showActionSettings(
                "{$wf->getId()}", "{$state->getId()}", "", "helpdeskWorkflowBasicAction",
                "[`Save`]", "[`or`]", "[`cancel`]", "[`Delete this action`]",
                "{sprintf_wp('The action will be eliminated only for the state &ldquo;%s&rdquo;. For other states this action will stay available.',
                    $state->getName())}"
            );
        })();
    </script>
{/if}
