<form class="h-faq-question-settings article wide" action="?module=faq&action=save">
    <div class="article-body custom-pb-0">
        <div class="h-header-block h-h1-inline desktop-and-tablet-only">
            <a href="javascript:void(0);" class="h-prev back flexbox middle space-8 js-mobile-back">
                <span class="icon size-24"><i class="fas fa-arrow-circle-left"></i></span>
                <div class="h-prev-text text-gray"></div>
                <i class="spinner loading h-header-loading" style="display:none;"></i>
            </a>
        </div>

        <div class="height-100 custom-mt-20">

            <div class="fields custom-mb-40">

                <div class="--field">
                    <span class="js-mobile-back back mobile-only largest"><i class="fas fa-arrow-circle-left"></i></span>
                    <input type="text" name="question" class="h-name largest bold width-100" value="{$faq.question|escape}" placeholder="[`New question`]">
                </div>

                <div class="fields-group blank">

                    <div class="field custom-mt-8">
                        <div class="name">
                            [`Category`]
                        </div>
                        <div class="value">
                            <select name="category_id">
                                {foreach $categories as $c}
                                    <option value="{$c.id}" {if $c.id === $category.id}selected="selected"{/if} data-url="{$c.url}">{$c.name|escape}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            [`Visibility`]
                        </div>
                        <div class="value">
                            <label>
                                <input type="checkbox" name="is_backend" value="1" {if $faq.is_backend}checked="checked"{/if}>
                                [`Backend`]
                                <div class="hint">[`Users can see this question and answer when they reply to client requests`]</div>
                            </label>
                            <div class="h-faq-comment custom-mt-12" {if !$faq.is_backend}style="display:none;"{/if}>
                                <div class="value custom-mb-32">
                                    <div class="dark-hint custom-pb-4">[`Comment for users`]</div>
                                    <textarea name="comment"
                                        placeholder="[`Write a brief instruction here that may help users to select this answer when they work on a client's request.`]">{strip}
                                            {if $faq.comment}{$faq.comment}{/if}
                                    {/strip}</textarea>
                                </div>
                            </div>
                            {if $category.id > 0}
                                <div class="h-faq-site-visibility custom-my-12">
                                    <div class="value">
                                        <label>
                                            <input type="checkbox" name="is_public" value="1" {if $faq.is_public}checked="checked"{/if}>
                                            [`Site`]
                                            <div class="hint">[`Visible in the public category`]</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="h-frontend-url" {if !$faq.is_public}style="display:none"{/if}">
                                    <div class="name dark-hint">
                                        [`Page URL`]
                                    </div>
                                    <div class="value">
                                        <div>
                                            <span class="h-frontend-root-url break-word">{$wa->getUrl('/', true)}faq/{$category.url}/</span>
                                            <input class="small" style="min-width: 140px" type="text" name="faq_url" value="{$faq.url|default:''}">/
                                            {if $faq.id > 0}
                                                <a class="nowrap button nobutton circle small h-faq-url-link" target="_blank" href="{$wa->getUrl('/', true)}faq/{$category.url}/{$faq.url|default:''}/" title="[`Preview`]"><i class="fas fa-external-link-alt"></i></a>
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>

                <div class="field h-editor-wrapper">
                    <div class="wa-editor-core-wrapper">
                        <ul class="h-editor-toggle overflow-dropdown small tabs wa-editor-wysiwyg-html-toggle custom-ml-8">
                            <li class="selected">
                                <a href="javascript:void(0)" class="wysiwyg">[`WYSIWYG`]</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="html">HTML</a>
                            </li>
                        </ul>
                        <div class="h-editor-wrapper">
                            <textarea class="h-answer" name="answer">{$faq.answer}</textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="bottombar h-fixed-bottombar sticky flexbox middle space-16 box bordered-top rounded">
                <button type="submit" id="hd-source-editor-save" class="button green">[`Save`]</button>
                <button type="button" class="button light-gray red h-delete small h-delete-faq-question custom-ml-auto" style="{if !$faq.id}display:none;{/if}"><i class="fas fa-trash-alt text-red"></i><span class="desktop-and-tablet-only"> [`Delete this question & answer`]</span></button>
            </div>

            {$wa->csrf()}
            <input type="hidden" name="id" value="{$faq.id}">

        </div>
    </div>
</form>

<script>

    var wa_url = '{$wa_url}', wa_app = 'helpdesk';

    $(function() {

        {if $id && !$faq.id}
            $.wa.setHash('#/faq/new/');
            return;
        {/if}

        const $form = $('form.h-faq-question-settings');
        const $submit = $form.find(':submit');
        const submitState = Object.assign(
            $.wa.helpers.createLoadingSubmit($submit),
            $.wa.helpers.createChangingSubmit($submit)
        );
        var updateBackLink = function(href, name) {
            $form.find('.h-header-block').show();
            $form.find('.h-prev').attr('href', href).find('.h-prev-text').html(name);
        };
        var hideBackLink = function() {
            $form.find('.h-header-block').hide();
        };

        {if $faq.id}
            if ($.wa.helpdesk_controller.faq_context && $.wa.helpdesk_controller.faq_context.type === 'search') {
                var query = $.wa.helpdesk_controller.faq_context.query;
                updateBackLink('#/faq/search/' + query + '/', query);
            } else {
                updateBackLink('#/faq/category/{$category.id}', '{$category.name|escape}');
            }
        {else}
            if ($.wa.helpdesk_controller.faq_context && $.wa.helpdesk_controller.faq_context.type === 'category') {
                var category_id = $.wa.helpdesk_controller.faq_context.query;
                var category_li = $('#h-faq-categories li[data-category-id="' + category_id + '"]');
                if (category_li.length) {
                    updateBackLink('#/faq/category/' + (category_id || 'none') + '/', category_li.find('.name').html());
                } else {
                    hideBackLink();

                }
            } else {
                hideBackLink();
            }
        {/if}

        $('#h-faq-categories')
            .find('li.selected').removeClass('selected')
            .end()
            .find('li[data-category-id="{$category.id}"]').addClass('selected');

        $.wa.helpdesk_controller.confirmLeave(
            function() {
                return $form.find(':submit').hasClass('yellow');
            },
            '[`Unsaved changes will be lost if you leave this page now.`]',
            '[`Are you sure?`]',
            function() {
                return !$form.is(':visible');
            },
            'h-faq'
        );

        $form.submit(function() {
            submitState.show();
            var form = $(this);
            form.find('.h-answer').waEditor('sync');
            form.find('.state-error-hint').remove();
            form.find('.state-error').removeClass('state-error');
            form.find('.h-after-save-animation').remove();
            $submit.removeClass('wa-animation-swing');
            $.post(form.attr('action'), form.serialize(), function(r) {
                submitState.reset();
                submitState.hide();
                if (r.status === 'ok') {
                    $('<span class="h-after-save-animation custom-mr-8"><i class="fas fa-check-circle"></i></span>').animate({ opacity: 0 }, 1000, function() {
                        $(this).remove();
                    }).prependTo($submit);

                    form.find('[name="id"]').val(r.data.faq.id);
                    form.find('.h-faq-url-link').removeClass('h-disabled');
                    $.helpdesk_faq.updateCounters(r.data.counters);
                    $('.h-faq-url-link').attr('href', "{$wa->getUrl('/', true)}faq/{$category.url}/" + r.data.faq.url + "/");
                    {if !$faq.id}
                        $.wa.setHash('#/faq/' + r.data.faq.id + '/');
                    {/if}

                } else {
                    $submit.addClass('wa-animation-swing');
                    $.each(r.errors, function(i, er) {
                        $('input[name="' + er[1] + '"]').addClass('state-error').parent().append(' <div class="state-error-hint">' + er[0] + '</div>');
                    });
                }
            }, 'json');
            return false;
        });

        $form.on('click', '.h-faq-url-link', function (e) {
            $(this).hasClass('h-disabled') && e.preventDefault();
        });

        $('.h-delete-faq-question').off('click').on('click', function() {
            var id = $form.find('[name="id"]').val();
            if (!id) { return false; }

            $.waDialog.confirm({
                title: "[`Are you sure?`]",
                success_button_title: $_('Delete'),
                success_button_class: 'danger',
                cancel_button_title: $_('Cancel'),
                cancel_button_class: 'light-gray',
                onSuccess: function(d) {
                    const submit_loading = $.wa.helpers.createLoadingSubmit(d.$body.find('.js-success-action')).show();
                    $.post('?module=faq&action=delete', {
                        id: id
                    }, function(r) {
                        submit_loading.hide();
                        $.wa.setHash('#/faq/category/{if $category.id > 0}{$category.id}{else}none{/if}/');
                        $.wa.helpdesk_controller.redispatch();
                        $.helpdesk_faq.updateCounters(r.data.counters);
                    }, 'json');
                }
            });
        });

        $('input[type="checkbox"][name="is_public"]').change(function() {
            if ($(this).is(':checked')) {
                if (!$('input[name="faq_url"]').val()) {
                    $('.h-faq-url-link').addClass('h-disabled');
                }
                $('.h-frontend-url').slideDown();
            } else {
                $('.h-frontend-url').slideUp();
            }
            // for translit
            $('input[name="question"]').trigger('keydown');
        });

        $('input[type="checkbox"][name="is_backend"]').change(function() {
            if ($(this).is(':checked')) {
                $('.h-faq-comment').slideDown();
            } else {
                $('.h-faq-comment').slideUp();
            }
        });


        $('select[name=category_id]').change(function() {
            var el = $(this);
            var category_id = el.val();
            var prev_category_id = el.data('prev_val');
            if (category_id == '0') {
                $('.h-faq-site-visibility').hide();
                $('.h-frontend-url').hide();
            } else {
                $('.h-faq-site-visibility').show();
                if (prev_category_id == '0') {
                    $('input[type="checkbox"][name="is_public"]').trigger('change');
                }
                $('.h-frontend-root-url').text("{$wa->getUrl('/', true)}faq/" + el.find(':selected').data('url') + '/');
            }
            submitState.change();
            el.data('prev_val', category_id);
        }).data('prev_val', $('select[name=category_id]').val());

        $(':checkbox, :radio').change(function() {
            submitState.change();
        });
        $.wa.helpers.onChangeInput($('input[name="faq_url"]'), function() {
            submitState.change();
            $(this).data('edited', true);
            $form.find('.h-faq-url-link').addClass('h-disabled');
        });
        $.wa.helpers.onChangeInput($('input[name="question"]'), function() {
            submitState.change();
        });
        $.wa.helpers.onChangeInput($('textarea[name="comment"]'), function() {
            submitState.change();
        });

        $.wa.helpdesk_controller.initEditor(
            $form.find('.h-answer'), {
                buttons: ['format', 'bold', 'italic', 'underline', 'deleted', 'lists', 'link', 'image', 'horizontalrule'],
                lang: "{substr($wa->locale(), 0, 2)}",
                saveButton: $('#hd-source-editor-save'),
                placeholder: '[`Write an answer here`]',
                _csrf: {waRequest::cookie('_csrf', '')|json_encode}
            }
        );

        $.helpdesk_faq.translitInput(
                $('input[name="faq_url"]'),
                $('input[name="question"]'),
                function () {
                    $form.find('.h-faq-url-link').addClass('h-disabled');
                }
        );

        var name_input = $form.find('.h-name');
        if (!name_input.val()) {
            name_input.focus();
        }

    });
</script>
