{function category_li category=[]}
<li class="h-category {if $category.id === 0}h-faq-none{/if}" data-category-id="{$category.id}" {if $category.id === 0}{if $category.count <= 0}style="display:none;"{/if}{/if}>
    <a href="#/faq/category/{if $category.id}{$category.id}{else}none{/if}/">
        {if $category.icon}
            <i class="{$wa->helpdesk->convertIcon($category.icon)}"></i>
        {/if}
        <span class="name">
            {$category.name|escape}
            {if $category.id > 0}
                {$category.draft_html}
                {$category.site_only_html}
                {$category.backend_only_html}
                {$category.backend_and_site_html}
            {/if}
        </span>
        <span class="count">{$category.count}</span>
    </a>
</li>
{/function}

<div class="flexbox wrap-mobile">
<div class="h-faq-sidebar sidebar width-19rem width-100-mobile bordered-right blank" id="h-faq-sidebar" data-mobile-sidebar="init">
    <div class="h-inner-sidebar sidebar-header">

        <ul class="menu">
            <li>
                <a href="#/faq/new/" class="h-add-faq-question">
                    <i class="fas fa-plus-circle text-green"></i>
                    <span>[`New question`]</span>
                </a>
            </li>
            <li class="h-faq-search-wrapper custom-px-12 custom-py-12">
                <div class="state-with-inner-icon left width-100">
                    <div class="icon"><i class="fas fa-search"></i></div>
                    <input class="h-faq-search width-100" type="search" placeholder="[`search`]" class="h-faq-search">
                </div>
            </li>
        </ul>

        <ul class="menu custom-mt-32">
            <li>
                <h5 class="heading custom-mr-8">
                    [`Categories`]
                    <a href="#/faq/category/new" class="count h-add-faq-category" title="[`New category`]"><i class="fas fa-plus-circle"></i></a>
                </h5>
            </li>
            <ul class="menu ellipsis collapsible" id="h-faq-categories">
                {foreach $categories as $c}
                    {category_li category=$c}
                {foreachelse}
                    <div class="align-center box custom-mb-12 h-faq-categories-message hint">[`Categories help you to arrange questions and answers by themes to simplify navigation and search, e.g.: Common questions, How to.., and etc.`]</div>
                {/foreach}

                {if $none_category}
                    {category_li category=$none_category}
                {else}
                    <div class="h-faq-content-no-categories-template box small" style="display:none;">
                        <div class="alert info">[`Please <a href="#/faq/category/new">create a category</a> first, to start adding questions and answers.`]</div>
                    </div>
                {/if}
            </ul>
        </ul>
    </div>
</div>

<div class="content h-faq-content not-blank" id="h-faq-content" data-mobile-content="">
</div>
</div>




<script>
    $(function() {

        var prev_search = '';
        $('.h-faq-search').keydown(function(e) {
            const search_str = $(this).val();
            if (prev_search !== search_str && e.keyCode === 13) {
                prev_search = search_str;
                $.wa.setHash('#/faq/search/' + encodeURIComponent(search_str));
                $(document).trigger('show_mobile_content');
            }
        });

        $.helpdesk_faq.initFaqCategoriesDroppable();

        $.wa.helpers.loadSortableJS().then(() => {
            $('#h-faq-categories').sortable({
                draggable: 'li.h-category:not(.h-faq-none)',
                onEnd: function(event) {
                    var $item = $(event.item);
                    var id = $item.data('categoryId');
                    var before_id = $item.next().data('categoryId');

                    $item.find('svg').addClass('hidden');
                    var $loading = $('<span class="icon text-gray"><i class="fas fa-spinner wa-animation-spin speed-1000" /></span>')
                        .prependTo($item.find('a'));

                    $.post('?module=faq&action=categoryMove', { id: id, before_id: before_id }, function(r) {
                        $loading.remove();
                        $item.find('svg').removeClass('hidden');
                        if (r.status !== 'ok') {
                            $.wa.helpers.cancelSortable();
                        }
                    }, 'json');
                }
            });
        });

        {if count($categories) <= 0}
            {if $faq_count <= 0}
                $.wa.helpdesk_controller.setHash('#/faq/new/');
            {else}
                $.wa.helpdesk_controller.setHash('#/faq/category/none/');
            {/if}
        {/if}

        $(document).trigger('wa_content_sidebar_loaded.helpdesk');
    });
</script>
