<div class="article wide">
    <div class="article-body">
        <div class="h-header-block h-category-name-block">
            <h1 class="h-category-name h-header-flexible">
                <span class="js-mobile-back back mobile-only"><i class="fas fa-arrow-circle-left"></i></span>
                {$query|escape}
            </h1>
        </div>

        <div class="h-faq-questions-block" id="h-faq-questions-block">
            {if !empty($faq_list)}
                <ul class="h-faq-questions list">
                    {foreach $faq_list as $q}
                        <li class="h-question-item" data-id="{$q.id}">
                            <a href="#/faq/{$q.id}/" class="h-show-faq-question bold">{strip}
                                <span class="h-question">{$q.question_highlighted|default:""} &nbsp;
                                    {$q.draft_html}
                                    {$q.backend_only_html}
                                    {$q.site_only_html}
                                    {$q.backend_and_site_html}
                                </span>
                            {/strip}</a>
                            {if !empty($q.fragments)}
                                <div class="h-faq-fragments message-box custom-mb-12 flexbox space-12">
                                    <div>{'<hr>'|implode:$q.fragments}</div><i class="fas fa-receipt text-dark-gray custom-pt-4"></i>
                                </div>
                            {else}
                                {$truncated_answer = $q.answer|strip_tags|truncate:200:'...'}
                                {if $truncated_answer|trim}
                                    <div class="h-faq-answer message-box custom-mb-12"><p>{$truncated_answer}</p></div>
                                {/if}
                            {/if}
                            <input type="hidden" class="h-is_public" value="{$q.is_public}">
                        </li>
                    {/foreach}
                </ul>
            {else}
                <div class="flexbox vertical space-8 middle gray custom-pt-40">
                    <span class="icon size-80">
                        <i class="fas fa-search text-light-gray"></i>
                    </span>
                    [`No search results`]
                </div>
            {/if}

        </div>

        <script>
            $(function() {
                $('#h-faq-sidebar .h-faq-search').val('{$query}');
            });
        </script>
    </div>
</div>
