{$uniqid = uniqid('w')}

{if $action_type == 'state'}
<script id="state-dialog-{$uniqid}" type="text/html">
    <div class="dialog">
        <div class="dialog-background"></div>
        <div class="dialog-body">
            <header class="dialog-header"><h2>[`Change state`]</h2></header>
            <div class="dialog-content">
                <select>
                    {foreach $states as $state_id => $state_name}
                        <option value="{$state_id|escape}">{$state_name|escape}</option>
                    {/foreach}
                </select>
                <p class="more-selected hidden">{sprintf("[`Selected state will be set for %s requests.`]", '<span class="cnt">0</span>')}</p>
            </div>
            <footer class="dialog-footer">
                <button type="submit" class="button">[`Change state`]</button>
                <button type="button" class="js-close-dialog button light-gray">[`Cancel`]</button>
            </footer>
        </div>
    </div>
</script>

{else if $action_type == 'assignment'}
<script id="assignment-dialog-{$uniqid}" type="text/html">
    <div class="dialog">
        <div class="dialog-background"></div>
        <div class="dialog-body">
            <header class="dialog-header"><h2>[`Change assignment`]</h2></header>
            <div class="dialog-content">
                <select>
                    <option value="0"></option>
                    {foreach $assignees as $contact_id => $contact_name}
                        <option value="{$contact_id|escape}">{$contact_name|escape}</option>
                    {/foreach}
                </select>

                <p class="more-selected hidden">{sprintf("[`Selected assignment will be set for %s requests.`]", '<span class="cnt">0</span>')}</p>

                <div class="hint custom-mt-8">
                    {helpdeskHelper::rightsToAppMessageParagraph()}
                </div>
            </div>
            <footer class="dialog-footer">
                <button type="submit" class="button">[`Change assignment`]</button>
                <button type="button" class="js-close-dialog button light-gray">[`Cancel`]</button>
            </footer>
        </div>
    </div>
</script>
{/if}

<script>(function() { "use strict";

    var $header = $('#hd-requests-header');
    {if isset($selected_ids)}
        var grid_wrapper = null;
        var selected_ids = {json_encode($selected_ids)};
    {else}
        var grid_wrapper = $('#c-core-content').find('.requests-table').parent();
        var selected_ids = grid_wrapper.find('tr.selected').map(function() { return $(this).attr('rel'); }).get();
    {/if}

    if (!selected_ids || !selected_ids.length) {
        return;
    }

    {if $action_type == 'delete'}
        $.waDialog.confirm({
            title: "[`Are you sure?`]",
            success_button_title: $_('Delete'),
            success_button_class: 'danger',
            cancel_button_title: $_('Cancel'),
            cancel_button_class: 'light-gray',
            onSuccess: function(d) {
                const submit_loading = $.wa.helpers.createLoadingSubmit(d.$body.find('.js-success-action')).show();
                $.post('?module=requests&action=delete', { ids: selected_ids.join(',') }, function(r) {
                    submit_loading.hide();
                    if (r.status !== 'ok') return;

                    if ($.wa.helpdesk_controller.currentGrid) {
                        if ($.wa.helpdesk_controller.currentView === 'split') {
                            $.wa.helpdesk_controller.currentGrid.changeIdInSplit(null);
                        }

                        $.wa.helpdesk_controller.currentGrid.reload(function() {
                            $header.find('.notice-above-requests-list').remove();
                            $header.append($.wa.helpdesk_controller.createClosableNotice(r.data, 'success'));
                        });
                    } else {
                        $.wa.helpdesk_controller.redispatch();
                    }
                    $.wa.helpdesk_controller.reloadSidebar();
                    $(document).trigger('close_bulk.helpdesk');
                }, 'json');
            }
        });

    {else if $action_type == 'state'}
        $.waDialog({
            html: $('#state-dialog-{$uniqid}').html(),
            onOpen: function($dialog_wrapper, dialog) {
                if (selected_ids.length > 1) {
                    $dialog_wrapper.find('.more-selected').removeClass('hidden');
                    $dialog_wrapper.find('.cnt').html(selected_ids.length);
                }

                const $submit = $dialog_wrapper.find(':submit');
                $submit.on('click', function() {
                    const submit_loading = $.wa.helpers.createLoadingSubmit($submit).show();
                    $.post('?module=requests&action=change', { ids: selected_ids.join(','), field: 'state_id', value: $dialog_wrapper.find('select').val() }, function(r) {
                        submit_loading.hide();
                        if (r.status !== 'ok') return;
                        if ($.wa.helpdesk_controller.currentGrid) {
                            $.wa.helpdesk_controller.currentGrid.reload(function() {
                                $header.find('.notice-above-requests-list').remove();
                                $header.append($.wa.helpdesk_controller.createClosableNotice(r.data, 'success'));
                                dialog.close();
                            });
                        } else {
                            $.wa.helpdesk_controller.redispatch();
                            dialog.close();
                        }
                        $(document).trigger('close_bulk.helpdesk');
                    }, 'json');
                });
            }
        });

    {else if $action_type == 'assignment'}
        $.waDialog({
            html: $('#assignment-dialog-{$uniqid}').html(),
            onOpen: function($dialog_wrapper, dialog) {
                if (selected_ids.length > 1) {
                    $dialog_wrapper.find('.more-selected').removeClass('hidden');
                    $dialog_wrapper.find('.cnt').html(selected_ids.length);
                }

                const $submit = $dialog_wrapper.find(':submit');
                $submit.on('click', function() {
                    const submit_loading = $.wa.helpers.createLoadingSubmit($submit).show();
                    $.post('?module=requests&action=change', { ids: selected_ids.join(','), field: 'assigned_contact_id', value: $dialog_wrapper.find('select').val() }, function(r) {
                        submit_loading.hide();
                        if (r.status !== 'ok') return;
                        if ($.wa.helpdesk_controller.currentGrid) {
                            $.wa.helpdesk_controller.currentGrid.reload(function() {
                                $header.find('.notice-above-requests-list').remove();
                                $header.append($.wa.helpdesk_controller.createClosableNotice(r.data, 'success'));
                                dialog.close();
                            });
                        } else {
                            $.wa.helpdesk_controller.redispatch();
                            dialog.close();
                        }
                        $(document).trigger('close_bulk.helpdesk');
                    }, 'json');
                });
            }
        });
    {/if}

})();</script>
