<div class="profile">
    <div class="image">
        <img class="userpic userpic-48" src="{$contact->getPhoto(50)}">
    </div>
    <div class="details">
        <p class="contact-name">
            {$contact->getName()|escape}
        </p>
        {foreach $data_visible as $name => $value}
            <p>
                <span class="c-details-label">{$name|escape}</span> {$value}
            </p>
        {/foreach}
        {if $data_hidden}
            <p><a href="javascript:void(0)" onclick="$(this).parent().hide().siblings('p.hidden').removeClass('hidden');" class="bold small gray-link">[`Show all fields`]</a></p>
            {foreach $data_hidden as $name => $value}
                <p class="hidden">
                    <span class="c-details-label">{$name|escape}</span> {$value}
                </p>
            {/foreach}
        {/if}
    </div>
    <div class="hidden contact-email">{$contact_email|escape}</div>
</div>
