<div class="not-blank">
<div class="article wide">
<div class="article-body custom-py-16">

<style>
    #{$uniqid} .h-fields-location { display: flex; flex-direction: column; gap: .75rem; }
    #{$uniqid} .h-fields-location .h-field { display: flex; gap: .75rem; align-items: center; }
    #{$uniqid} .h-fields-location .h-field .icon, #{$uniqid} .h-other-fields .icon { color: var(--light-gray); }
    #{$uniqid} .h-fields-location .h-field .h-name { color: var(--gray); }
    #{$uniqid} .h-fields-location .h-field .h-value { font-weight: bold; }
    #{$uniqid} .h-other-fields .field { display: flex; flex-wrap: nowrap; gap: 0.5rem; }
    #{$uniqid} .h-other-fields .h-edit-field { font-weight: 500; font-size: 15px; }
    #{$uniqid} .h-other-fields .sort { margin-top: 3px; }
    #h-edit-field-dialog .dialog-content { min-height: 300px }
</style>

{function field_item field_opt=[] hidden=false}
    {if $field_opt.id !== 'status'}
        <div class="h-field h-field-id-{$field_opt.id} {if $hidden}hidden{/if}" data-id="{$field_opt.id}">

            <span class="sort icon cursor-move"><i class="fas fa-grip-vertical"></i></span>
            {if  $field_opt.id === 'assigned'}
                <span class="icon"><img class="userpic userpic-20" src="{helpdeskHelper::getGravatar(null)}"></span>
            {/if}
            <span class="h-name">{$field_opt.name|default:''|escape}:</span>
            <span class="h-value">{strip}
                {$f_id = helpdeskRequestPageConstructor::cutOffPrefix($field_opt.id)}
                {if helpdeskRequestPageConstructor::getType($field_opt.id) == helpdeskRequestPageConstructor::TYPE_CUSTOM &&
                    isset($fields[$f_id]) && $fields[$f_id].type === 'Checkbox'}
                    [`Yes/No`]
                {else}
                    {if !empty($field_opt.value)}
                        {$field_opt.value|default:''|escape}
                    {else}
                        {$field_opt.name|default:''|escape}
                    {/if}
                {/if}
            {/strip}</span>
            <span class="delete small cursor-pointer"><i class="fas fa-times-circle text-gray opacity-50" title="[`Remove this field from the heading area.`]"></i></span>
        </div>
    {/if}
{/function}

<div id="{$uniqid}">
    <header>
        <h1>[`Request field constructor`]</h1>
        <p class="dark-hint custom-mt-12">[`You can drag and drop fields to change its position in the heading area of request page.`]</p>
    </header>

    <div class="support-content">
        <div class="s-request custom-mt-32" id="ticket">

            <div class="fields">
                <div class="fields-group blank">
                    <h3>Поля в области заголовка</h3>

                    <div class="h-fields-location">
                        <div class="h-field">
                            <span class="icon"><i class="fas fa-thumbtack"></i></span>
                            <strong># [`Number`]</strong>
                        </div>
                        <div class="h-field">
                            <span class="icon"><i class="fas fa-thumbtack"></i></span>
                            <h5 class="custom-my-4">[`Заголовок`]</h5>
                        </div>
                        {$visible_status = !empty($right_fields.status) || !empty($left_fields.status)}
                        <div class="h-field{if !$visible_status} js-off{/if}" data-id="status">
                            <span class="icon"><i class="fas fa-thumbtack"></i></span>
                            <span class="state-marker badge small {if $visible_status}bg-dark-gray{else}bg-light-gray{/if}">[`Status`]</span>
                            <span class="icon cursor-pointer js-toggle-status"><i class="fas {if $visible_status}fa-eye{else}fa-eye-slash{/if}"></i></span>
                        </div>
                        <div class="h-field">
                            <span class="icon"><i class="fas fa-thumbtack"></i></span>
                            <span class="icon"><img class="userpic userpic-20" src="{helpdeskHelper::getGravatar(null)}"></span>
                            <strong>[`Customer's name`]</strong>
                            <span>
                                <span class="hint">[`Create date`] [`via`] </span>
                                <span class="source-badge bg-yellow custom-mx-2"><i class="fas fa-key"></i></span> <span>[`Request source`]</span>
                            </span>
                        </div>
                    </div>

                    <div class="h-fields-location custom-mt-12" data-place="right">
                        {foreach $right_fields as $field_opt}
                            {field_item field_opt=$field_opt}
                        {foreachelse}
                            <div class="h-field"></div>
                        {/foreach}
                    </div>

                    <div class="h-fields-location custom-mt-12" data-place="left">
                        {foreach $left_fields as $field_opt}
                            {field_item field_opt=$field_opt}
                        {/foreach}
                    </div>

                    <div class="dropdown h-add-new-field custom-mt-32">
                        <button class="dropdown-toggle button light-gray rounded" type="button">
                            <i class="fas fa-plus-circle text-green"></i> [`Add field`]
                        </button>
                        <div class="dropdown-body" style="min-width:285px;">

                            <ul class="menu h-available-fields">
                                {$no_available_fields = true}
                                {foreach $all_fields as $field_opt}
                                    {if $field_opt.id === 'status'}
                                        {continue}
                                    {/if}
                                    <li class="h-new-request-field" data-id="{$field_opt.id}" {if !empty($field_opt.place)}style="display:none;"{else}{$no_available_fields = false}{/if}>
                                        <a href="javascript:void(0);" class="h-choose-field">{$field_opt.name|escape}</a>
                                        {field_item field_opt=$field_opt hidden=true}
                                    </li>
                                {/foreach}
                                <li class="h-no-available-fields gray box" style="{if !$no_available_fields}display:none;{/if}"><span class="icon size-12"><i class="fas fa-info text-gray"></i></span> [`All available fields are already added.`]</li>
                            </ul>

                        </div>
                    </div>

                </div>

                <div class="h-field-constructor fields-group blank">
                    <h3>[`Additional fields`]</h3>
                    <p class="gray custom-mt-8 small">[`Additional fields allow customers to specify extra multiple parameters when sending a support requests. These parameters essentially depend on the types of products and services you deliver to your customers. For example, if you accept requests to repair household appliances, you may wish to know some additional details; e.g. model name, date of manufacture, etc. Additional fields can be added to a request-sending form and be available on the request-viewing page for your Helpdesk app users.`]</p>
                    <div class="h-other-fields">
                        {foreach $fields as $field}
                            <div data-field-id="{$field.id}" class="field sortable">
                                <span class="icon sort"><i class="fas fa-grip-vertical"></i></span>
                                {if !empty($field.icon)}{$field.icon}{/if}
                                <a href="javascript:void(0);" class="h-edit-field" data-field-id="{$field.id}">{$field.name|escape}</a>
                            </div>
                        {/foreach}
                        <div class="custom-mt-32">
                            <button class="h-new-field button rounded light-gray" type="button">
                                <i class="fas fa-plus-circle text-green"></i> [`Add field`]
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{* dialog section *}
{capture assign="_dialog_edit_field"}
<div class="dialog" id="h-edit-field-dialog">
    <form method="post" action="?module=constructor&action=fieldSave">
        <div class="dialog-background"></div>
        <div class="dialog-body">
            <header class="dialog-header"><h1></h1></header>
            <div class="dialog-content">
                <div class="fields">
                    <div class="field">
                        <div class="name">[`Field name`]</div>
                        <div class="value">
                            <input class="width-70 width-100-mobile" type="text" name="name" value="">
                            <div class="state-error-hint custom-mt-4"></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Field ID`]</div>
                        <div class="value">
                            <input class="width-70 width-100-mobile" type="text" name="id_val" data-error-id="id_val" value="">
                            <div class="state-error-hint custom-mt-4"></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Field type`]</div>
                        <div class="value">
                            <select name="ftype">
                                {foreach $field_types as $ftype => $ftype_str}
                                    <option value="{$ftype}">{$ftype_str}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field" data-field-values>
                        <div class="name">[`List items`]</div>
                        <div class="value" data-field-value="Select">
                            <textarea name="select_field_value" placeholder="[`Enter each new item on new line`]"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Customer Portal`]</div>
                        <div class="value">
                            <div class="switch" id="h-edit-field-my_visible">
                                <input type="checkbox" name="my_visible" value="1">
                            </div>
                            <div class="hint">[`If enabled, data in this field are available to clients in the Customer Portal.`]</div>
                        </div>
                    </div>
                </div>
                <div class="state-error-hint common-errors"></div>
            </div>
            <footer class="dialog-footer">
                {$wa->csrf()}
                <div class="flexbox middle space-4">
                    <input type="hidden" name="id" value="#new">
                    <button type="submit" class="button green">[`Save`]</button>
                    <button type="button" class="js-close-dialog button light-gray">[`Close`]</button>
                    <a href="javascript:void(0);" class="custom-ml-auto red small outlined button h-field-delete" data-delete-field-id="{$field.id}"><i class="fas fa-times-circle"></i> <span class="desktop-and-tablet-only">[`Delete field`]</span></a>
                </div>
            </footer>
        </div>

    </form>
</div>
{/capture}

<script>
        // Sort custom fields
        function initSortableCustomFields() {
            var context = $('.h-field-constructor .h-other-fields');
            context.sortable({
                helper: 'clone',
                draggable: '.field.sortable',
                handle: '.sort',
                onEnd: function(event) {
                    var item = $(event.item);
                    var id = item.data('fieldId');
                    var next, before_id = '';
                    if (id) {
                        next = item.nextAll('.field.sortable:first');
                        if (next.length) {
                            before_id = next.data('fieldId');
                        }

                        var field_ids = [];
                        context.find('.field').each(function() {
                            field_ids.push($(this).data('fieldId'));
                        });

                        $.post('?module=constructor&action=fieldMove', { id: id, before_id: before_id, field_ids: field_ids },
                            function(r) {
                                if (!r || r.status != 'ok') {
                                    if (r && r.errors) {
                                        console.log(r.errors);
                                    }
                                    $.wa.helpers.cancelSortable(event);
                                }
                            }, 'json'
                        ).error(function() {
                            $.wa.helpers.cancelSortable(event);
                        });
                    }
                }
            });
        }
        $.wa.helpers.loadSortableJS().then(() => {
            initSortableCustomFields()
        });

        // Add new field
        $('.h-new-field').click(function() {
            EditFieldDialog(null);
        });

        var fields = {json_encode(array_values($fields))};
        var field_types = {json_encode($field_types)};
        $('.h-edit-field').click(function() {
            var field_id = '' + $(this).data('fieldId'); // to string
            var field = null;
            for (var i = 0, l = fields.length; i < l; i += 1) {
                if (fields[i].id === field_id) {
                    field = fields[i];
                    break;
                }
            }
            if (field) {
                EditFieldDialog(field);
            } else {
                if (console) {
                    console.error('Unknown field ' + field_id);
                }
            }
        });

        function EditFieldDialog(field) {
            $.waDialog({
                html: {$_dialog_edit_field|json_encode},
                onOpen: function(d, dialog_instance) {
                    d.find('.state-error-hint').empty().end().
                        find('.state-error').removeClass('state-error');

                    const form = d.find('form');
                    if (field) {
                        $.wa.helpers.watchChangeForm(form);
                    }

                    // add/edit field
                    d.on('submit', 'form', function(e) {
                        e.preventDefault();

                        const submitLoading = $.wa.helpers.createLoadingSubmit(form.find(':submit')).show();
                        form.find('.state-error-hint').empty();
                        $.post(form.attr('action'), form.serialize(), function(r) {
                            submitLoading.hide();
                            if (r.status !== 'ok' && r.errors) {
                                for (var i = 0, l = r.errors.length; i < l; i += 1) {
                                    var e = r.errors[i];
                                    if (typeof e === 'string') {
                                        form.find('.state-error-hint.common-errors').append(e);
                                    } else if (typeof e === 'object') {
                                        for (var k in e) {
                                            if (e.hasOwnProperty(k)) {
                                                var input = form.find('[data-error-id="'+k+'"]');
                                                input.addClass('state-error');
                                                input.nextAll('.state-error-hint:first').text(e[k]);

                                                form.one('input, keydown', '.state-error', function() {
                                                    $(this).removeClass('state-error')
                                                            .nextAll('.state-error-hint:first').empty();
                                                });
                                            }
                                        }
                                    }
                                }
                            } else {
                                $.wa.helpdesk_controller.redispatch();
                                dialog_instance.close();
                            }
                        }, 'json').error(function() {
                            submitLoading.hide();
                        });
                        return false;
                    });

                    // delete fields
                    if (!field) {
                        d.find('[data-delete-field-id]').hide();
                    } else {
                        var delete_link = d.find('[data-delete-field-id]');
                        delete_link.show().data('field-id', field.id);
                        delete_link.children('span').text($_('Delete field'));
                        delete_link.off('click').on('click', function () {
                            var field_id = $(this).data('fieldId');
                            var left = d.find('.dialog-body').css('left');
                            var top = d.find('.dialog-body').css('top');
                            d.find('.dialog-header').html('<h1>[`Delete field`]</h1>');
                            d.find('.dialog-content').html('<strong>[`Checking data in this field`]... <i class="spinner loading"></i></strong>');
                            d.find('.dialog-footer').empty();

                            $.get('?module=constructor&action=fieldDeleteConfirm&id=' + field_id, function (response) {
                                setTimeout(function () {
                                    d.html(response);
                                    d.find('.dialog-body').css({
                                        'left': left,
                                        'top': top
                                    });

                                    const $submit = d.find(':submit');
                                    const submitLoading = $.wa.helpers.createLoadingSubmit($submit);
                                    $submit.click(function () {
                                        const form = d.find('form');
                                        submitLoading.show();
                                        form.find('.state-error-hint').empty();
                                        $.post(form.attr('action'), form.serialize(), function (r) {
                                            submitLoading.hide();
                                            if (r.status !== 'ok' && r.errors) {
                                                form.find('.state-error-hint').text(r.errors[0]);
                                            } else {
                                                $.wa.helpdesk_controller.redispatch();
                                                dialog_instance.close();
                                            }
                                        }, 'json').error(function () {
                                            submitLoading.hide();
                                        });
                                        return false;
                                    });
                                }, 500);
                            });


                        });
                    }

                    // heading
                    if (!field) {
                        d.find('h1').text('[`New field`]');
                    } else {
                        d.find('h1').text('[`Edit field`]');
                    }

                    // field type
                    if (!field) {
                        d.find('select[name="ftype"]')
                            .show()
                            .find('option.tmp')
                                .remove()
                            .end()
                            .find('option:first')
                                .attr('selected', 'selected')
                            .end()
                            .next('.selected_field')
                                .remove();
                    } else {
                        d.find('select[name="ftype"]')
                            .hide()
                            .next('.selected_field')
                                .remove()
                            .end()
                                .after('<span class="selected_field">' + (field_types[field.type] || field.type) + '</span>');
                        if (field.type === 'Select') {
                            d.find('[data-field-values]').show();
                        } else {
                            d.find('[data-field-values]').hide();
                        }
                    }

                    // field id
                    if (!field) {
                        d.find('input[name="id"]').val('#new');
                        d.find('input[name="id_val"]').val('').prop('disabled', false)
                            .show()
                            .unbind('check_edited')
                            .bind('keydown.check_edited', function() {
                                var self = $(this);
                                self.data('val', self.val());
                            })
                            .bind('keyup.check_edited', function() {
                                var self = $(this);
                                if (self.val() && self.val() != self.data('value')) {
                                    self.unbind('.check_edited');
                                    self.data('edited', 1);
                                }
                            })
                            .next('.id_field').remove();
                    } else {
                        d.find('input[name="id"]').val(field.id);
                        d.find('input[name="id_val"]')
                            .val(field.id)
                            .hide()
                            .next('.id_field').remove()
                            .end()
                            .after('<span class="id_field">' + $.wa.encodeHTML(field.id) + '</span>');
                    }

                    // field values
                    if (!field) {
                        d.find('[data-field-values]').find(':input').val('').closest('.field').hide();
                    }
                    if (field) {
                        if (field.options) {
                            d.find('[data-field-values]')
                                .find(':input')
                                .val($.map(field.options, function(el,i){ return el }).join("\n"))
                                .prop({
                                    disabled: false,
                                    readonly: false
                                }).closest('.field').show();
                        }
                        if (field.type == 'String') {
                            d.find('[data-field-value="Select"]').children(':first').prop('disabled', true);
                            d.find('[data-field-value="Select"]').parent().hide();
                        } else if (field.type == 'Select') {
                            d.find('[data-field-value="Select"]').children(':first').prop('disabled', false);
                        }
                        d.find('input[name="my_visible"]').prop('checked', field.my_visible ? true : false);
                    }

                    $('#h-edit-field-my_visible').waSwitch();

                    // change field type
                    d.find('select[name="ftype"]').off('change').on('change', function () {
                        var $this = $(this),
                            $field_values = d.find('[data-field-values]');

                        // enable/disable menu items block

                        if ($this.val() === 'Select') {
                            $field_values.show();
                        } else {
                            $field_values.hide();
                        }
                    });

                    // field name
                    if (!field) {
                        var transliterateTimer = null;
                        d.find('input[name="name"]').val('').off('keydown').on('keydown', function() {
                            var input = $(this);
                            var id_val_input = d.find('input[name="id_val"]');
                            if (!id_val_input.data('edited')) {
                                var loading = id_val_input.next('.loading');
                                if (!loading.length) {
                                    loading = $('<span class="loading"><i class="fas fa-spinner fa-spin wa-animation-spin speed-1000 gray" /></span>').insertAfter(id_val_input);
                                }
                                transliterateTimer && clearTimeout(transliterateTimer);
                                transliterateTimer = setTimeout(function () {
                                    if (!id_val_input.data('edited')) {
                                        const $submit = d.find(':submit');
                                        $submit.prop('disabled', true);
                                        $.post('?module=constructor&action=transliterate', input.serialize(),
                                            function(data) {
                                                $submit.prop('disabled', false);
                                                loading.remove();
                                                if (data.status === 'ok') {
                                                    if (!id_val_input.data('edited')) {
                                                        id_val_input.val(data.data);
                                                    } else {
                                                        transliterateTimer && clearTimeout(transliterateTimer);
                                                    }
                                                }
                                            }, 'json');
                                    } else {
                                        transliterateTimer && clearTimeout(transliterateTimer);
                                        loading.remove();
                                    }
                                }, 300);
                            }
                        });
                    } else {
                        d.find('input[name="name"]').val(field.name);
                    }

                }
            });
        }

        $.wa.helpdesk_controller.setBrowserTitle('[`Request field constructor`]');

        // init fields loactions
        initAddFieldsMenus($('.h-add-new-field'));
        initFieldsLocations($('.h-fields-location'));

        function initFieldsLocations(blocks) {
            $.wa.helpers.loadSortableJS().then(() => {
                initSortable(blocks)
            });

            blocks.each(function() {
                var block = $(this);
                block.off('click', '.delete').on('click', '.delete', function() {
                    var field = $(this).closest('.h-field');
                    $('.h-available-fields li[data-id="' + field.data('id') + '"]').show();
                    field.remove();
                    $('.h-add-new-field').find('.h-no-available-fields').hide();
                    deleteFieldRequest(field.data('id'));
                });
            });
        }

        function initSortable(blocks) {
            blocks.sortable({
                group: "fieldsLocations",
                handle: '.sort',
                draggable: '.h-field',
                onEnd: function(event) {
                    var info = {};
                    blocks.each(function() {
                        var block = $(this);
                        var field_ids = [];
                        block.find('.h-field').each(function() {
                            field_ids.push($(this).data('id'));
                        });
                        info[block.data('place')] = field_ids;
                    });
                    $.post('?module=constructor&action=requestFieldMove', info,
                        function(r) {
                            if (!r || r.status !== 'ok') {
                                if (r && r.errors) {
                                    console.log(r.errors);
                                }

                                $.wa.helpers.cancelSortable(event);
                            }
                        }, 'json'
                    ).error(function() {
                        $.wa.helpers.cancelSortable(event);
                    });
                }
            });
            return blocks;
        }

        function initAddFieldsMenus($select)
        {
            $select.waDropdown({
                hover: false,
                ready: function (dropdown_instance) {
                    var $menu = dropdown_instance.$menu.find('ul.menu');
                    var place = 'left';
                    var target = $('.h-fields-location[data-place="' + place + '"]');
                    $menu.off('click', '.h-choose-field').on('click', '.h-choose-field', function() {
                        var item = $(this).closest('.h-new-request-field');
                        var field = item.find('.h-field').clone();
                        target.append(field.removeClass('hidden'));
                        $menu.find('.h-new-request-field[data-id="' + item.data('id') + '"]').hide();
                        if (!$menu.find('.h-new-request-field:visible').length) {
                            $menu.find('.h-no-available-fields').show();
                        }
                        addFieldRequest(field.data('id'), place);
                    });
                }
            });
        }

        $('.js-toggle-status').on('click', function () {
            var $field = $(this).closest('.h-field');
            var id = $field.data('id');
            var $state_marker = $field.find('.state-marker');
            var $svg = $(this).find('svg');
            if ($field.hasClass('js-off')) {
                addFieldRequest(id, 'right').done(() => {
                    $state_marker.removeClass('bg-light-gray').addClass('bg-dark-gray');
                    $svg.removeClass('fa-eye-slash').addClass('fa-eye');
                    $field.removeClass('js-off');
                });
            } else {
                deleteFieldRequest(id).done(() => {
                    $state_marker.addClass('bg-light-gray').removeClass('bg-dark-gray');
                    $svg.addClass('fa-eye-slash').removeClass('fa-eye');
                    $field.addClass('js-off');
                });
            }
        });

        function addFieldRequest (id, place) {
            return $.post('?module=constructor&action=requestFieldSave', { id, place });
        }
        function deleteFieldRequest (id) {
            return $.post('?module=constructor&action=requestFieldDelete', { id });
        }
</script>

</div>
</div>
</div>
