/*
 * Webasyst Default 4.0 theme family
 *
 * Helpdesk app CSS
 * (requires linking base default.css file from the Site app)
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2014 Webasyst LLC
 * @package Webasyst
 *
 * ... extends base Site app's default.css
 */
.page-content {
  padding: 0;
}
.page-content.container {
  position: static;
  padding: 20px 25px;
}
.page ul.menu-v li .count {
  padding: 13px 10px;
}
h3 .hint {
  font-size: 11px;
  font-weight: normal;
  margin-left: 10px;
}
.faq-category .answer {
  margin-bottom: 50px;
  margin-top: -10px;
}
.container {
  min-width: 0;
}
.request-changed-params {
  display: none;
}
.request-param-changed {
  color: #f00;
}
.log-text {
  padding: 10px 0;
}
.h-main-wrapper .h-sidebar-wrapper .menu-v {
  border-bottom: 1px solid rgba(0,0,0,0.13);
}
.h-main-wrapper .h-sidebar-wrapper .menu-v li {
  border: 0;
  color: rgba(0,0,0,0.87);
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -o-transition: background 200ms linear;
  -ms-transition: background 200ms linear;
  transition: background 200ms linear;
}
.h-main-wrapper .h-sidebar-wrapper .menu-v li a {
  color: inherit;
}
.h-main-wrapper .h-sidebar-wrapper .menu-v li:hover {
  background: #f8f8f8;
}
.h-main-wrapper .h-sidebar-wrapper .menu-v li.selected {
  background: #f0f0f0;
  font-weight: bold;
}

.h-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.h-header .h-header-left {
  width: 100%;
}
.h-header .h-header-right {
  display: flex;
}
.h-header .pages li { margin: 0.5rem 0; }
.h-header .h-search-wrapper {
  position: relative;
  z-index: 1;
}
.h-header .h-search-wrapper .h-text-input {
  height: 42px;
  min-width: 200px;
  padding-left: 2.7rem;
  border: 1px solid rgba(127,127,127,0.1);
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
.h-header .h-search-wrapper .h-text-input:focus {
  border-color: rgba(127,127,127,0.5);
}
.h-header .add-request-wrapper {
  margin-top: 0.1rem;
  text-align: center;
}
.h-header .h-search-wrapper .h-submit-input {
  position: absolute;
  left: 10px;
}

.h-main-wrapper .h-content-wrapper {
  border-top: 1px solid rgba(0,0,0,0.13);
  padding: 15px;
}
.h-main-wrapper .h-content-wrapper iframe,
.h-main-wrapper .h-content-wrapper img {
  max-width: 100%;
}
.h-main-wrapper .h-content-wrapper .wa-form {
  float: none;
}
main.maincontent .container {
  padding-top: 0;
}
@media (max-width: 500px) {
  body .wa-form {
    width: auto;
  }
  body .wa-form .wa-field {
    margin: 1em 0 0;
    padding: 0;
    width: auto;
  }
  body .wa-form .wa-field:first-child {
    margin-top: 0;
  }
  body .wa-form .wa-field .wa-name,
  body .wa-form .wa-field .wa-value {
    display: block;
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
  }
  body .wa-form .wa-field .wa-name input[type='text'],
  body .wa-form .wa-field .wa-value input[type='text'],
  body .wa-form .wa-field .wa-name textarea,
  body .wa-form .wa-field .wa-value textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}


@media (min-width: 761px) {
  .h-main-wrapper {
    display: table;
    table-layout: fixed;
  }
  .h-main-wrapper .h-content-wrapper {
    display: table-cell;
    vertical-align: top;
  }
  .h-sidebar-wrapper + .h-content-wrapper {
    padding: 20px 25px;
  }
  .h-main-wrapper .h-content-wrapper {
    border: none;
    padding: 1rem 3rem;
  }
  .h-main-wrapper .h-sidebar-wrapper {
    padding-top: 3rem;
    margin-right: 3rem;
    width: 200px;
  }
  .h-header .h-search-wrapper .h-text-input:focus {
    width: 200%;
  }
}
